.btn-reply {
  background-color: $color2;
  color: white;
  border: 1px solid $color2;
  font-size: 11px;
  padding: 2px 20px;
  &:hover {
    color: white;
    background-color: rgba(9, 128, 254, 0.9);
  }
}

.btn-primary {
  @include button-variant(white, $color2, $color2);
}
.btn-danger {
  @include button-variant(white, $color7, $color7);
}

.btn-ico {
  width: 18px;
  left: 17px;
  top: 6px;
  position: absolute;
}
.btn-capsule {
  border-radius: 15px;
}

.btn-blue {
  @include button-variant(white, $color2, $color2);
}
.btn-red {
  @include button-variant(white, $color7, $color7);
}
.btn-xs {
  padding: 0.16rem 0.75rem;
  font-size: 11px;
  min-width: 74px;
}

.user-dd {
  z-index: 9;
  position: relative;
  .dropdown-toggle {
    padding: 0;
    &:after {
      display: none;
    }
    &:focus {
      box-shadow: none;
    }
  }

  .dd-img {
    padding: 5px;
    padding-bottom: 6px;
    border-radius: 8px 8px 0 0;
    margin-left: -1px;
    img {
      width: 25px;
      height: 25px;
    }
  }
  .dropdown-menu {
    border: 0;
    border-radius: 0 0.55rem 0.55rem 0.55rem;
    .dropdown-item {
      font-size: 11px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.45rem 0.8rem;
      .fa-angle-right {
        color: $color2;
      }
    }
  }
  &.show {
    .dd-img {
      background-color: #fff;
    }
    &::before {
      content: "";
      position: fixed;
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0px;
      z-index: -1;
      overflow: hidden;
    }
  }
}

.dd-pristDetail {
  text-align: center;
  line-height: 15px;
  small {
    font-size: 10px;
  }
  img {
    border-radius: 8px;
    background-color: #ddd;
    width: 60px;
  }
}
