/*========== font size css ==============*/
.fs-12{
  font-size: 0.75rem;
}

/*========== text color css ==============*/

.text-color1{
  color: $color1;
  }
  .text-color2{
    color: $color2;
  }

  .text-color4{
    color:$color4;
  }
  .text-color7{
    color:$color7;
  }
  .text-color9{
    color: $color9;
  }
  .text-color10{
    color:$color10
  }
  .text-black{
    color: #000000 !important;
  }

  /*========== shadow css ==============*/
  .shadow-bold{
    box-shadow: 0px 2px 6px #00000029;
   }
   .shadow-bolder{
    box-shadow: 0px 3px 22px #00000029;
   }
  
   .shadow-light{
    box-shadow:0px 0px 3px #00000029;
   }
   .shadow-lighter{
     box-shadow:0px 0px 2px #00000029;
   }

   .bg-gray{
     background-color: $color6;
   }

   .bg-color1{
    background-color: $color1;
  }
  .bg-color2{
    background-color: $color2;
  }
  .bg-color8{
    background-color: $color8;
  }

   .fw-500{
     font-weight: 500;
   }


  .br-8{
    border-radius: 8px;
  }
  .br-30{
    border-radius: 30px
  }

  .mt-100{
    margin-top: 100px;
  }

  .progressbar-style{
    border-radius: .55rem;
    height: .7rem;
    .progress-bar{
      background-color: $color1;
      border-radius: .55rem;
  
    }
  }
  .progress-color2{
    border-radius: .55rem;
    height: .9rem;
    .progress-bar{
      background-color: $color2;
      border-radius: .55rem;
  
    }
  }

.layout-body{
  display: flex;
  flex-direction: column;
  height: 100%;

  .layout-content {
    flex: 1 0 auto;
  }
}

.tab--style{
  .nav-pills {
    display: flex;
    .nav-item{
      flex: 1;
      .nav-link{
        display: block;
        text-align: center;
        color: $color4;
        &.active{
          color: #fff;
          background-color: $color2;
        }
      }
    }
   
  }
  
}

.tab--style1{
  display: flex;   
    .nav-link{
      display: block;
      text-align: center;
      color: $color4;
      flex: 1;
      border: 0;
      border-radius: 0;
      border-bottom: 2px solid transparent;
      &.active{
        color: $color2;
        font-weight: 600;
        border-color: $color2;
      }
    }
 
}

.table--style{
  border-collapse: initial;
  border-spacing: 0 6px;
  text-align: center;
thead{
  tr{
    background-color: $color2;
    th{
color: #fff;
font-weight: 500;
border-bottom:0;
padding: .95rem .75rem;
    }
  }
}
tbody{
  tr{
    background-color: #fff;
    td{
      border-top:0;
      font-size: 13px;
      padding: .25rem .50rem;
      div{
    border-right: 1px solid #ddd;
    padding: .50rem .25rem;
      }
      &:last-child{
        div{
          border-right: 0;
        }
      }
    }
  }
}
}

.table--style1{

  margin-bottom: 0;
thead{
  tr{
    background-color: $color2;
    th{
color: #fff;
font-weight: 500;
border-bottom:0;
padding: .80rem .75rem;
    }
  }
}
tbody{
  tr{
    td{
      border-top:0;
      font-size: 13px;
      padding: .65rem .75rem;
    
    }
  }
}
}
.filter-dd{ 
    background-color: #fff;
    border-radius: 15px;
    width: 115px;
    color: $color4;
    font-weight: 500;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 15px;
    font-size: 14px;

    &:hover,&:focus{
      background-color: $color2;
      .fas{
        color: #fff;
       
      }
    }
    .fas{
      color: $color2;
      font-size: 12px;
    }
    &::after{
      display: none;
    } 
  
}

.filter-jar{
  max-width: 350px;
  border: 0;
  border-radius: 15px;
    box-shadow: 0px 5px 9px #0000004B;
    .arrow{
      display: none;
    }
  .filter-cont{    
    padding: 20px;
    table{
      tr{
        td{
          padding: 7px 15px 7px 0;
          font-size: 11px;
          vertical-align: middle;
          &:last-child{
            padding-right: 0;
          }
        }
      }
    }
  }
}


.mw-350{
  max-width: 350px;
  min-width: 350px;
}

.centered-div{
  display: grid;
  place-content: center;
  height: 100%;
}

.tab--style3{
  box-shadow: 0px 3px 6px #00000029;
  padding: 20px 0;
  border-radius: 0 0 8px 8px;
  justify-content: center;
  .nav-item{
    color: $color4;
    margin: 0 15px;
    background-color: $color6;
    border-radius: 6px;
  }
}