body{
  font-family: 'Poppins', sans-serif !important;
  font-size: 0.874rem;
  color: #2D2D2D;
  height: 100%;
}
html, #root{
  height: 100%;
}

.circle-md-img{
  @include circle(7rem, 7rem);  
}
.flex-1{
  flex:1;
}

.priest-img{
  @include circle(7rem, 7rem);
  object-fit: cover;
}

.verf{
  left: 0;
  top: 8px;
  width: 28px;
}

.hero-md{
  font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000723;
    font-size: 1.1rem;
}
.details-r{
  padding: 0 20px;
}

.priest-brief{
  font-size: .847rem;
 tr{
  td{
    padding: 10px 25px;
    &:first-child{
      padding-left: 0;
    }
    .det-ico{
      width: 20px;
    margin-right: 15px;
    }
  }
 }
}

.skills-label{
  padding: 0;
  list-style-type: none;
  li{
    display: inline-block;
    border:1px solid $color3;
    border-radius: 13px;
    padding: 2px 10px;
    font-size: .797rem;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}


.overall-rate{
  h3{
    font-size: 4.3rem;
      font-weight: 300;
      .fas{
        font-size: 3.6rem;
        color: $color1;
      }
  }
}




  .comment-panel{
    background-color: $color5;
    border-radius: 4px;
    padding: 1px;
    .comment-box{
      margin: 1px;
      padding: 10px 15px;
      hr{
        margin-top: .4rem;
    margin-bottom: .4rem;
      }
    }
  }
.some-static{
  padding: 0;
  list-style-type: none;
  li{
    display: inline-block;
    text-align: center;
    margin-right: 65px;
    &:last-child{
      margin-right: 0;
    }
    h4{
      font-size: 1.2rem;
    }
    small{
      font-size: .80rem;
    }
  }
}

.badge-full{
padding: .5em .9em;;
background-color: $color6;
border-radius: 4px;
}

.rr-container{
  max-height: 200px;
  padding: 1px;
  overflow: auto;
  @include scrollbars(2px, #C9C9C9, #ddd)
}

.Statistics{
  background-color: $color2;
  color: #ffffff;
}
.oh-container{
  max-width: 380px;
  margin: auto;
}

.oh-user{
  img{
    border-radius: 50%;
    width: 38px;
    object-fit: cover;
  }
}
.oh-num{
  table{
    width: 100%;
    border-bottom: 1px solid #ddd;
    tr{
      td{
        padding: 5px 0;
      }
    }
  }
}
.oh-s-t{
 
    width: 100%;
    tr{
      td{
        padding: 5px 0;
        font-size: 14px;
      }
    }

}

.thank-container{
  max-width: 425px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
.gray-capsule{
  border-radius: 20px;
  background-color: $color6;
}

.u-chat-list{
  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.horis-div{
  margin-bottom: 20px;
  img{
    width: 75px;
    height: 90px;
    object-fit: contain;
  }
}

.filter-wrap{
  background-color: $color6;
  border-radius: 30px;
}
.set-cp-ico{
  position: relative;
  padding-left: 45px;
  margin-bottom: 0;
  &:before{
    content: "";
    position: absolute;
    background: url("/assets/img/chat_blue.svg") no-repeat 13px 7px, url("/assets/img/phone_blue.svg") no-repeat 0px 19px;
    width: 40px;
    height: 40px;
    background-size: 20px;
    left: 5px;

  }
  small{
    margin-top: 2px;
    display: inherit;
  }
}

.al-card{
  margin-bottom: 30px;
  .al-img{
    position: relative;
    .al-pic{
      width: 40px;
      height: 40px;
      border-radius: 50%;
     
    }
    .al-verf{
      position: absolute;
      width: 15px;
      left: 5px;
    }
    span{
      position: absolute;
      bottom: -6px;
      left: -3px;
      color: #fff;
      font-size: 8px; 
      background-image: url("/assets/img/blue_banner.svg");
      background-size: contain;
      background-repeat: no-repeat;
      height: 13px;
      display: inline-block;
      width: 60px;
      padding-top: 1px;
      text-align: center;
    }
  }
  .al-view{
    .rv{
      font-size: 11px;
    }
  }
  .al-noti{
    position: absolute;
    right: 25px;
    width: 15px;
  }
  .tild-del{
    position: relative;
      &:before{
        position: absolute;
    width: 87%;
    height: 1px;
    content: "";
    background: #f00;
    transform: rotate(-17deg);
    top: 8px;
    left: 9px;
      }
  }
}
.mb-m5{
  margin-bottom: -5px;
}
.mx-m8{
  margin-left: -8px;
  margin-right: -8px;
}
.match-capsule{
  background-color: $color6;
  border-radius: 30px;
  padding: 13px 10px;
  img{
    width: 25px;
  }
}
.mtc-p{
  width: 65%;
  @media(max-width: 580px){
    width: 97%;
  }
}
.mmp{
  width: 40%;
  @media(max-width: 580px){
    width: 97%;
  }
}

.matc-r{
  background-color: $color6;
  border-radius: 26px;
    padding: 8px 10px 8px 25px;
  .sm-capsul{
    background-color: #fff;
    border-radius: 23px;
    padding: 8px 10px;
    min-width: 130px;
    text-align: center;
  }
}

.kundli-img-s{
  width: 250px;
}

.asd-container{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  @media(max-width: 580px){
    width: 97%;
  }
}

.s-h-r-col{
  .s-h-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 4px 0px rgba(0 ,0 ,0 , .2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    img{
      height: 30px;
      width: 30px;
    }
  }
}

.current-noti{
  h6{
    border-bottom: 1px solid #000723;
    padding-bottom: 10px;
  }
}

.old-noti{
  color: #707070;
  h6{
    border-bottom: 1px solid #cecece;
    padding-bottom: 10px;
  }
  p{
    color: #707070;
  }
}

.gr-div{
  margin-bottom: 20px;
    min-height: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  p{
    margin-top: 15px;
    padding: 0 1px;
  }
  img{
width: 45px;
height: 45px;
  }
}

.gyr-ico{
  background-color: $color2;
  padding: 9px 7px;
  border-radius: 8px;
  margin-right: 20px;
  img{
    width: 22px;
  }
}

.set-er-ico{
  position: relative;
  padding-left: 60px;
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight: 600;
  &:before{
    content: "";
    position: absolute;
    background: url("/assets/img/horiscope/Icon_Education.svg") no-repeat 13px 7px;
    width: 43px;
    height: 43px;
    background-size: 30px;
    left: 5px;

  }
  small{
    margin-top: 2px;
    display: inherit;
  }
}

.er-card{
  margin-bottom: 30px;
  .al-img{
    position: relative;
    .al-pic{
      width: 40px;
      height: 40px;
      border-radius: 50%;
     
    }
    .al-verf{
      position: absolute;
      width: 15px;
      left: 5px;
    }
    span{
      position: absolute;
      bottom: -6px;
      left: -3px;
      color: #fff;
      font-size: 8px; 
      background-image: url("/assets/img/blue_banner.svg");
      background-size: contain;
      background-repeat: no-repeat;
      height: 13px;
      display: inline-block;
      width: 60px;
      padding-top: 1px;
      text-align: center;
    }
  }
  .al-view{
    .rv{
      font-size: 11px;
    }
  }
  .al-noti{
    position: absolute;
    right: 25px;
    width: 15px;
  }
  .tild-del{
    position: relative;
      &:before{
        position: absolute;
    width: 87%;
    height: 1px;
    content: "";
    background: #f00;
    transform: rotate(-17deg);
    top: 8px;
    left: 9px;
      }
  }
  .er-p-info{
    td{
      padding: 4px;
    }
  }
}

@media (min-width:992px){
  .cont-box{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

.pay-head{
  .to-pay{
    img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.chat-head{
  .ch-u-img{
    width:40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.chat-column{
  overflow: auto;
  height: calc(100vh - 369px);
  @include scrollbars(2px, #C9C9C9, #ddd)
  .chat-message{
   
display: flex;
flex-direction: column;
justify-content: flex-end;
      .chat-message_content{
        width: auto;
        min-width: 100px;
        padding: 7px;
        margin: 10px;
        padding-bottom: 16px;
        font-size: 11px;
        position: relative;
        white-space: pre-wrap;
        &.interlocutor-message{
          margin-right: auto;
          border-radius: 0px 7px 7px 7px;
          box-shadow: 0px 3px 6px #1111111A;
          &::before{            
            content: "";
            width: 0;
            height: 0;
            border-top: 10px solid #fff;
            border-left: 10px solid transparent;
            position: absolute;
            left: -10px;
            top: 0;
            -webkit-filter: drop-shadow(-1px 0px 1px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(-1px 0px 1px rgba(0, 0, 0, 0.1));
          }
        }
        &.own-message{
          margin-left: auto;
          background-color: $color2;
          color: #fff;
          border-radius: 7px 0px 7px 7px;
          &::before{
            content: "";
            width: 0;
            height: 0;
            border-top: 10px solid $color2;
            border-right: 10px solid transparent;
            position: absolute;
            right: -10px;
            top: 0;
          }
          .chat-message_content_date{
            color: #fff;
          }
        }
      }

      .session-time{
        box-shadow: 0px 1px 4px #1111111A;
        padding: 5px;
        width: 160px;
        text-align: center;
        font-size: 11px;
        font-weight: 500;
        margin: 20px auto;
        border-radius: 5px;
      }
     .req-accept{
      box-shadow: 0px 3px 6px #00000017;
      padding: 5px;
      text-align: center;
      font-size: 11px;
      font-weight: 500;
      margin: 20px 0;
      clear: both;
     
     }
     .req-popup{
       border:1px solid $color2;
     }
     .chat-paused{
       background-color: #707070;
     }
  }
  .chat-message_content_date{
    text-align: right;
    font-size: 9px;
    color: #828282;
    position: absolute;
    right: 8px;
    bottom: 2px;
  }
}
 
.chat-footer{
  .chat-form{
.message-input{
  resize: none;
    border: 1px solid #ddd;
    border-radius: 26px;
    margin-right: 10px;
    outline: 0;
    padding: 10px 25px;
    min-height: 40px;
    font-size: 12px;
}
.send-btn{
  background-image: url("/assets/img/plane.svg");
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat
}
  }
}

.big-num{
  @include circle(90px, 90px);
  font-size: 3rem;
  color: #032A62;
  background-color: #fff;
  display: inline-flex;
    align-items: center;
    justify-content: center;
}
.dh-rating{
  background-color:#032A62;
}

.brs-bottom{
  border-radius: 0 0 15px 15px;
}
.orange-inner{
  background-color: #E36C2E;
  border-radius: 10px;
  @media(min-width:992px){
    width: 92%;
   
  }
  img{
    width: 90px;
    margin-right: 35px;
  }
}
.dp-today{
  color: #fff;
  h4{
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 400;
  }
  p{
    margin-bottom: 0;
  }
}
.planet-time{
  background-image: url("/assets/img/panchang/rectangle.svg");
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: cover;
}
.p-t-col{
  background-image: linear-gradient(#98ddff, #fff);
  background-repeat: no-repeat;
  padding: 10px;
    width: 100px;
    margin-right: 17px;
    border-radius: 8px;

    &:last-child{
      margin-right: 0px;
    }
    p{
      margin-bottom: 0;
      margin-top: 20px;
    }
  img{
    width: 35px;
    height: 35px;
}
  }

  .tithi-box{
    hr{
      margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    }
  }

  .choghadiya-box{
    &.cb-l-bg{
      background-image: url("/assets/img/panchang/day_choghadiys.svg");
      background-size: cover;
      background-position: -18px -23px;
    background-repeat: no-repeat;
    }
  }
.cg-green{
  background-color: #FFEEB2;
}
.msa-ico{
  position: relative;
  padding-left: 45px;
  margin-bottom: 0;
  &:before{
    content: "";
    position: absolute;
    background: url("/assets/img/chat_blue.svg") no-repeat 13px 7px;
    width: 40px;
    height: 40px;
    background-size: 20px;
    left: 5px;

  }
  small{
    margin-top: 2px;
    display: inherit;
  }
}

.my-at-card{
  margin-bottom: 30px;
  .al-img{
    position: relative;
    .al-pic{
      width: 40px;
      height: 40px;
      border-radius: 50%;
     
    }
    .al-verf{
      position: absolute;
      width: 13px;
    left: -4px
    }
   
  }
  .al-view{
   
  }
  .al-noti{
    position: absolute;
    right: 30px;
    top: 15px;
  }
  .tild-del{
    position: relative;
      &:before{
        position: absolute;
    width: 87%;
    height: 1px;
    content: "";
    background: #f00;
    transform: rotate(-17deg);
    top: 8px;
    left: 9px;
      }
  }
}

.mb-m8{
  margin-bottom: -8px;
}
.balance-box{
  max-width: 300px;
  margin: auto;
}
.coupon-in{
  border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    font-size: 13px;
    position: relative;
  .btn{
    position: absolute;
    right: 5px;
    font-size: 11px;
    font-weight: 600;
    top: 4px;
    padding: 3px 14px;
  }
  input{
    border: 0;
    outline: 0;
  }
}
.sm-hint{
  color: #8D8D8D;
  display: block;
  text-align: center;
}
.bank-list{
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  li{
    display: inline-block;
    text-align: center;
    span{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #CBCBCB;
      margin: auto;
      display: inline-block;
    }
    p{
      margin-bottom: 0;  
      font-size: 11px;    
    }
  }
}

.b-in-label{ 
    
    font-size: 9px;
    font-weight: 700;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    background: transparent linear-gradient(319deg, #6600FF 0%, #00B9FF 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    padding: 4px 2px 0;
    line-height: 11px;
    text-align: center;

}
.p-abs{
  position: absolute;
    left: 20px;
}

.outline-badge{
    padding-right: .8em;
    padding-left: .8em;
    border-radius: 10rem;
    border: 1px solid;
    display: inline-block;
    font-size: 10px;
    

    &.receipt{
      border-color: $color2;
    }
    &.invoice{
      border-color: $color1;
    }
}

.cou-app{
border: 1px solid $color1;
color: $color1;
font-weight: 500;
}

.cb-apply{
  background-image: url("/assets/img/ribbin.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4px;
  font-size: 13px;
}
.pwd-ico{
  display: inline-block;
  position: absolute;
  right: 0;
  background-image: url("/assets/img/ey1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
  bottom: 0;
  &.show-pwd{
    background-image: url("/assets/img/ey2.png");
  }
}
.fom-close
{width: 20px;
  right: 25px;
  top: 25px;
  cursor: pointer;
}

.nu-img-w{
  @include circle(70px, 70px);
  position: relative;
  margin: auto;
  .nu-img{
    @include circle(70px, 70px);
    object-fit: cover;
  }

  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    padding: 0;
    border: 0;
    img{
      width: 20px;
    }
  }
  
  .upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .set-up{
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.cvd-box{
  table{
    width: 100%;
    background: $color6;
    border-radius: 7px;
    font-size: 12px;
    margin-bottom: 15px;
    tr{
      td{
        padding: 3px 10px;
      }
    }
  }
  
}
.w80{
  width: 100px;
}
.w50{
  width: 60px;
}

.atd-process{
  padding: 0;
  li{
    display: inline-block;
    cursor: pointer;
    &:not(:first-child){
      color: #D1D1D1;
    }
    &.active{
      color: $color2;
    }
    .fas{
font-size: 16px;
margin: 0 12px;
vertical-align: bottom;
    }
  }
}

.ant-box{
  .ant-box-wr{
    border-radius: 7px;
    border: 1px solid $color2;
    table{
      width: 100%;     
      font-size: 12px;
      tr{
        td{
          padding: 3px 10px;
          vertical-align: middle;
          .set-a{
            font-size: 16px;
            color: $color2;
            margin-right: 10px;
            vertical-align: middle;
          }
        }
      }
    }
  }
  
}

.gray-wall{
  &:before{
    content: "";
    background-color: $color6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 300px;
  }
}