
.style--input{
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("/assets/img/dropdown_arrow.svg");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 7px;
    padding-right: 2rem !important;
    background-size: 17px;
    border: 1px solid $color2;
  }
}

.search-input{
  position: relative;
  input{
    background-color: #fff;
    border: 0;
    padding: 8px 15px;
    padding-right: 40px;
    border-radius: 15px;
    width: 100%;
    font-size: 12px;
    &:focus{
      border: 0;
      outline: 0;
    }
  }
  .fas{
    position: absolute;
    right: 15px;
    top: 11px;
    color: $color2;
  }
}

.fmc-style{
  label{
    color: #8D8D8D;
  }
  input{
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: 0;
    font-size: 0.847rem;
  }
}


.custom-checkbox{
  .checkbox-custom {
    display: none;
  }
  .checkbox-custom-label {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
  }
  .checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background: #fff;
    border-radius: 3px;
    border: 1px solid #2D2D2D;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    padding: 2px;
    margin-right: 10px
  }
  .checkbox-custom:checked + .checkbox-custom-label:after {
    content: "";
    padding: 2px;
    position: absolute;
    width: 8px;
    height: 17px;
    border: solid $color2;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    top: -5px;
    left: 8px;
  }
}

.gender-btn{
  .btn-group{
   .btn{
    margin-right: 30px;
    border-radius: 0;
    border-radius: 4px !important;
    font-size: 11px;
    color: $color4;
    border-color:$color4;
    &:hover{
color: #fff;
border-color:$color2;
    }
   }
  }
}

.cs_rd_btn{
  label {
    width: auto;
    margin: 0;
    background-color: #fff;
    border-radius: 4px;
    
    span {
      border: 1px solid #4e4e4e;
      text-align:center;
      font-size: 11px;
      display:block;
      padding: 0px 15px;
      border-radius: 4px;
      cursor: pointer;
  }
  input {
    position:absolute;
    top:-20px;
    display: none;
    &:checked + span {
      background-color:$color2;
      border: 1px solid $color2;
      color:#fff;
  }
}
       
}
}