@font-face {
    font-family:ArturoTrial-Bold;
    src: url('../fonts/ArturoTrial-Bold.eot');
    src: url('../fonts/ArturoTrial-Bold.eot?#iefix')
             format('embedded-opentype'),
         url('../fonts/ArturoTrial-Bold.woff') format('woff'),
         url('../fonts/ArturoTrial-Bold.svg#webfont') format('svg'),      
         url('../fonts/ArturoTrial-Bold.ttf') format('truetype'); 
}
@font-face {
    font-family:ArturoTrial-Regular;
    src: url('../fonts/ArturoTrial-Regular.eot');
    src: url('../fonts/ArturoTrial-Regular.eot?#iefix')
             format('embedded-opentype'),
         url('../fonts/ArturoTrial-Regular.woff') format('woff'),
         url('../fonts/ArturoTrial-Regular.svg#webfont') format('svg'),
         url('../fonts/ArturoTrial-Regular.ttf') format('truetype'); 
}
@font-face {
    font-family:Elephant-Regular;
    src: url('../fonts/Elephant-Regular.eot');
    src: url('../fonts/Elephant-Regular.eot?#iefix')
             format('embedded-opentype'),
         url('../fonts/Elephant-Regular.woff') format('woff'),
         url('../fonts/Elephant-Regular.svg#webfont') format('svg'),
         url('../fonts/Elephant-Regular.ttf') format('truetype'); 
}