
@media only screen and (min-width : 900px) and (max-width : 1290px) and (orientation : portrait) {
}
@media only screen and (min-width : 2560px) and (orientation : landscape) {
}
@media only screen and (min-width : 1920px) and (max-width : 2560px) and (orientation : landscape) {
}
@media only screen and (min-width : 900px) and (max-width : 1920px) and (orientation : landscape) {
}
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
}
@media screen and (max-width: 1199px) {
    .con {
        margin-left: 15px;
    }
    .contact-number {
        margin: 0 5px;
    }
    .namskar {
        font-size: 13px;
    }
    .con ul li {
        margin: 0 8px;
    }
    .contact-number span:nth-child(1) {
        font-size: 14px;
    }
    .contact-number span:nth-child(2) {
        font-size: 16px;
    }
    .login-button a, .lag a {
        font-size: 14px;
    }
    .notification a svg {
        width: 14px;
    }
    .notification a {
        width: 34px;
        height: 34px;
    }
    .sign-main {
        padding: 55px 100px;
    }
    .footer-as ul li a {
        font-size: 12px;
        padding: 10px 15px;
    }
    .usefull-link ul li a {
        font-size: 13px;
    }
    .contact-us h3 {
        font-size: 17px;
    }
    .contact-us p {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .contact-us.cont-pad {
        padding-left: 0;
    }
    ul.footer-socisl li {
        width: 20%;
    }
    .sign-footer {
        padding: 25px 15px 30px;
    }
    .astrologers-btn a {
        font-size: 16px;
    }
    .sign-main .page-head {
        margin: 0 0 40px;
    }
    .page-head {
        font-size: 25px;
    }
    .sign-btn li a {
        height: 40px;
        font-size: 16px;
    }
    .astrologer-main {
        padding: 45px;
    }
    .astrologer-user-Link ul li {
        font-size: 20px;
    }
    .signup-sec {
        padding: 20px 30px;
    }
    .si-head {
        font-size: 14px;
    }
    .fm-inp, .si-button {
        font-size: 16px;
    }
    .conecting {
        margin: 50px 0;
    }
    .img-head {
        font-size: 20px;
    }
    .as2-left {
        font-size: 11px;
    }
    .anytime ul li:nth-child(2) {
        margin: 0 70px;
    }
    .anytime ul li:nth-child(3) {
        margin: 0 70px 0 0px;
    }
    .anytime-inner-desc {
        font-size: 15px;
    }
    .yearly-sec {
        margin: 0 0 50px;
    }
    .free-minutes span:nth-child(2) {
        font-size: 10px;
        top: -16px;
    }
    .free-minutes {
        left: -7px;
    }
    .owl-prev, .owl-next {
        width: 44px;
        height: 44px;
    }
    .owl-prev {
        left: -25px;
    }
    .owl-next {
        right: -25px;
    }
    .conecting ul li a {
        font-size: 16px;
    }
}
@media screen and (max-width: 992px) {
    /* header.header div[class*="col-"] {
        flex: 0 0 100%;
        max-width: 100%;
    } */
    .header-right div.namskar {
        display: none;
    }
    .con ul li {
        margin: 0 5px;
    }
    .header-right {
        text-align: center;
    }
    .logo {
        text-align: center;
        margin: 0 0 10px;
    }
    .con ul li a {
        display: inline-block;
        max-width: 20px;
    }
    .contact-number span:nth-child(1) {
        font-size: 13px;
    }
    .contact-number span:nth-child(2) {
        font-size: 14px;
    }
    .sign-main {
        padding: 35px 50px;
    }
    .footer-one .row .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 15px;
    }
    .astrologer-user-Link {
        max-width: 100%;
    }
    .astrologer-user-Link ul li {
        font-size: 16px;
    }
    .astrologer-user-pro, .astrologer-main .sign-form, .astrologer-profe {
        padding: 0;
    }
    .astro-profe-head h2 {
        font-size: 18px;
    }
    .astro-sel ul li button.btn,
    .astro-profe-head .col-md-12 .multiselect-div span.chip {
        font-size: 12px;
    }
    .astro-input .form-group .form-control {
        font-size: 14px;
    }
    .signup-sec div[class*="col-md"] {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .si-head {
        text-align: center;
        margin: 0 0 10px;
    }
    .conecting ul li {
        width: 20%;
    }
    .conecting ul li a {
        width: 100%;
        font-size: 14px;
        height: auto;
        padding: 0 0 20px;
    }
    .conecting ul li a img {
        width: 50px;
        margin-top: 17px;
    }
    .img-head {
        font-size: 16px;
    }
    .anytime ul li {
        width: calc(25% - 25px);
        margin: 0 !important;
        padding: 0 10px;
    }
    .anytime-inner-img {
        width: 100%;
        height: auto;
        line-height: normal;
        padding: 20px 0;
    }
    .astro-head span:nth-child(1) {
        font-size: 18px;
    }
    .astro-head span:nth-child(2) {
        font-size: 14px;
    }
    .anytime-inner-img img {
        max-height: 90px;
    }
    .anytime ul li:not(:first-child) .anytime-inner-img::before {
        width: 20px;
        height: 20px;
        left: -12px;
    }
    .anytime ul li:not(:last-child) .anytime-inner-img::after {
        width: 20px;
        height: 20px;
        right: -12px;
    }
    .anytime-inner-desc {
        font-size: 12px;
    }
    .yearly-name {
        font-size: 15px;
    }
    .blog .img-head {
        font-size: 15px;
    }
    .Astrologers-sec {
        margin: 50px 0;
    }
    .sec-head {
        font-size: 18px;
    }
    
}
@media only screen and (max-width:767px) {
    .header-right>div {
        display: block;
        margin: 0 0 10px;
    }
    .forgot-password-page {
        padding: 50px 70px;
    }
    .header-right .contact-number {
        max-width: 180px;
        margin: 0 auto 10px;
    }
    .thank-page .sign-section.section-bk {
        padding: 20px;
    }
    .thank-you-txt {
        font-size: 18px;
    }
    .thank-you-txt-p p {
        font-size: 15px;
    }
    .thank-you-txt-p {
        margin: 20px 0 0;
    }
    .sign-main {
        padding: 20px;
    }
    .sign-main .page-head {
        margin: 0 0 20px;
    }
    .page-head {
        font-size: 20px;
    }
    .sign-form .form-group label, .custom-forgot a,
    .sign-form .form-group input.form-control {
        font-size: 15px;
    }
    .sign-form .form-group span {
        font-size: 11px;
    }
    .sign-form .form-group button.btn {
        font-size: 14px;
        padding: 8px;
    }
    .logging-accepting {
        margin: 20px 0 0;
        font-size: 13px;
    }
    .logging-accepting a {
        font-size: 13px;
    }
    .or-div {
        margin: 5px 0 20px;
        font-size: 15px;
    }
    .sign-btn li {
        width: 100%;
        margin: 0 0 10px;
    }
    .astrologers-head {
        margin: 0 0 20px;
        font-size: 14px;
    }
    .astrologers-btn a, .astrologer-profe button.btn.continue_btn {
        font-size: 15px;
        min-height: auto;
        padding: 8px;
    }
    .astrologer-main {
        padding: 20px;
    }
    .astrologer-user-Link ul li {
        font-size: 14px;
        padding: 8px;
    }
    .astrologer-user-Link ul {
        overflow: auto;
    }
    .sign-form .form-group .col-md-6:nth-child(2) {
        margin: 25px 0 0;
    }
    .sign-form .form-group .public-profile-btn {
        margin: 30px 0;
    }
    .astro-user-img {
        width: 70px;
    }
    span.user-img {
        width: 70px;
        height: 70px;
    }
    span.user-status input[type="file"] + label {
        width: 20px;
        height: 20px;
    }
    span.user-status input[type="file"] {
        width: 20px;
        height: 20px;
    }
    span.user-status {
        bottom: -8px;
        right: -2px;
    }
    .astro-user-name {
        width: calc(100% - 72px);
        padding: 0 0 0 10px;
    }
    .astro-sel ul li {
        margin: 0 5px 5px 0;
    }
    .astro-sel ul li button.btn, .astro-profe-head .col-md-12 .multiselect-div span.chip {
        font-size: 11px;
        padding: 5px 10px;
    }
    .astro-profe-head h2 {
        font-size: 15px;
    }
    .astro-profe-head {
        margin: 0 0 10px;
    }
    .astro-profe {
        margin: 0 0 15px;
    }
    .fm-inp, .si-button {
        font-size: 13px;
        height: 40px;
    }
    .si-button {
        width: 120px;
    }
    .conecting ul li a img {
        width: 35px;
        margin-top: 10px;
    }
    .conecting ul li a {
        font-size: 11px;
        padding: 0 0 10px;
    }
    .yearly-sec .container .col-lg-2.col-md-3 {
        flex: 0 0 33%;
        max-width: 33%;
    }
    .anytime-inner-img img {
        max-height: 50px;
    }
    .anytime-inner-desc {
        font-size: 9px;
    }
    .anytime ul::before {
        width: 60%;
    }
    .yearly-name {
        font-size: 13px;
    }
    .owl-prev, .owl-next {
        width: 25px;
        height: 25px;
    }
    .owl-prev {
        left: -15px;
    }
    .owl-next {
        right: -15px;
    }
    .si-head {
        line-height: normal;
    }
    .signup-sec {
        padding: 20px 10px;
    }
    .owl-prev::before {
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #000;
    }
    .owl-next::before {
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #000;
    }
    .owl-next:hover::before {
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #fff;
    }
    .owl-prev:hover::before {
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #fff;
    }
    .yearly-sec {
        margin: 0 0 30px;
    }
    .Astrologers-sec {
        margin: 30px 0;
    }
    .ReactModal__Overlay.ReactModal__Overlay--after-open .ReactModal__Content.ReactModal__Content--after-open {
        padding: 100px 20px!important;
    }
    .thank-rested-txt {
        font-size: 22px;
    }
    .thank-rested-btn {
        margin: 40px 0 0;
    }
}
@media only screen and (max-width:575px) {
    .forgot-password-page {
        padding: 50px 30px;
    }
    .astro-gallery ul li {
        width: 33%;
    }
    .astrologer-user-Link ul li {
        width: 50%;
    }
    .select-option-form ul li {
        margin: 0 5px;
        font-size: 14px;
        min-width: 82px;
    }
    .section-bk {
        max-width: 100%;
    }
    .sign-form .form-group label, .custom-forgot a, .sign-form .form-group input.form-control {
        font-size: 14px;
    }
    .sign-close-btn a::before, .sign-close-btn a::after {
        width: 22px;
    }
    .footer-one .row .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 15px;
    }
    .sign-close-btn {
        right: 15px;
        top: 15px;
    }
    .sign-close-btn a {
        width: 22px;
        height: 22px;
    }
    ul.footer-socisl li {
        width: 45px;
    }
    .usefull-link {
        text-align: center;
    }
    .contact-us.cont-pad {
        text-align: center;
    }
    .copyright {
        font-size: 11px;
    }
    .astro-add-btn button.btn,
    span.user-gallery label.Add-btn {
        font-size: 12px;
        padding: 2px 10px;
        min-width: auto;
    }
    .logo a {
        max-width: 130px;
        display: inline-block;
    }
    .footer-as ul li a {
        margin: 0 0 10px;
        width: 240px;
        display: inline-block;
    }
    .footer-as li {
        text-align: center;
    }
    .anytime ul li {
        width: 50%;
        margin: 0 0 20px !important;
    }
    .anytime ul::before {
        content: none;
    }
    .anytime-inner-img img {
        max-height: 90px;
    }
    .anytime-inner-desc {
        font-size: 12px;
        margin: 10px 0 0;
    }
    .conecting ul li {
        width: 40%;
        margin: 5px;
    }
    .yearly-sec .row {
        padding: 0;
    }
    .yearly-inner {
        margin: 10px 0;
    }
    .yearly-img {
        width: 100%;
        height: 78px;
        padding: 10px 5px;
        text-align: center;
        line-height: normal;
    }
    .yearly-img img {
        max-height: 50px;
    }
    .Astrologers-sec {
        padding: 30px 0;
    }
    .astro-head {
        margin-bottom: 15px;
    }
    .conecting {
        margin: 30px 0;
    }
}
@media only screen and (max-width:480px) {
}
@media only screen and (max-width:375px) {
    .select-option-form ul li {
        margin: 0 1px;
        min-width: 80px;
    }
}
@media only screen and (max-width:320px) {
}
@media only screen and (max-width : 640px) and (orientation : landscape) {
}
@media only screen and (max-width : 320px) and (orientation : portrait) {
}