/* CSS Document */
body{
	margin:0px;
	padding:0px;
	color:#000;
	background:#fff;
	overflow-x:hidden;
}
/***************************reset*********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
	margin:0px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	margin:0px;
	padding:0px;
}
img{
	max-width:100%;
	border:none;
}
a {
	outline: 0;
	text-decoration:none;
	}
a:hover, a:focus{
	text-decoration:none;
	outline:none;
}
a img {
	border: 0px;
	text-decoration: none;
}
.clr{
	clear:both;
}
/***********************end reset*********************/
/**************************menu***********************/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.nav-container {
  position: fixed;
  top:40px; /* 1 */
  left: 0;
  z-index: 99;
  overflow-y: auto;
  visibility: hidden; /* 2 */
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-overflow-scrolling: touch;
}
.nav-container.is-visible {
  visibility: visible; 
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); 
}
.nav-toggle {
  line-height: 1;
  display: inline-block;
  padding:10px;
  border: 0;
  background-color: #c82030;
  cursor: pointer;
}
.nav-toggle .icon-menu {
  position: relative;
  display: inline-block; 
  width: 28px;
  height: 20px;
  vertical-align: middle;
  fill: none;
}
.icon-menu .line {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  background-color: #fff;
}
.icon-menu .line-1 { top: 0; } 
.is-active .icon-menu .line-1 {
  -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
  -ms-transform: translateY(8px) translateX(0) rotate(45deg);
  transform: translateY(8px) translateX(0) rotate(45deg); 
}
.icon-menu .line-2 {
  top: 50%;
  margin-top: -2px;
}
.is-active .icon-menu .line-2 { opacity: 0; }
.icon-menu .line-3 { bottom: 0; }
.is-active .icon-menu .line-3 {
  -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
  -ms-transform: translateY(-8px) translateX(0) rotate(-45deg);
  transform: translateY(-8px) translateX(0) rotate(-45deg);
}

.nav-menu li:last-child{
    border-right:none!important;
}
.main_dis{
    font-size:11px;
    width:110px;
}
.main_m{
    font-size:18px;
    text-transform:uppercase;
}


/*****custum********/
 @media (min-width: 768px) {


.nav,
 .nav-container,
 .nav-container.is-visible {
  position: static;
  top: auto;
  left: auto;
  /*z-index: auto;*/
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.nav-container,
 .nav-container.is-visible {
  visibility: visible;
  height: auto;
  min-height: 0;
  overflow-y: visible;
}

.nav-toggle { 
	display: none;
}
}

.nav li {
    display: inline-block;
    position: relative;
    padding:0 22px;
}
.nav li:last-child {
  margin: 0;
}
.nav li ul {
    background: #fff;
    border: 1px solid #ccc;
    top: 57px;
    transition: all 0.5s ease-in;
    box-shadow: 0 0 23px -15px #333333;
    border-radius: 0;
}

.nav li ul li:last-child a{
	border-bottom: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.nav li ul::before{
	position:absolute;
	top: -26px;
	left:25px;
	content:"\f0de";
	font-family:FontAwesome;
	font-size:40px;
	display: none; 
}
.nav li ul li{
	border-right:none;
	padding:0px;
}
.nav li ul li a {
    display: block;
    font-size: 15px;
    padding:7px  10px;
    text-align: left;
}
.nav li:not(:last-child)::after {
    color: #ffffff;
    content: "/";
    position: absolute;
    right: -6px;
    top: 10px;
}
.nav li a {
    margin: 0;
    transition: all 0.2s ease-in;
    display: block;
    padding:18px 0;
    position: relative;
    text-align: right;
    letter-spacing: 0.5px;
    font-size: 14px;
	color: #010101;
	font-family: "Montserrat";
	font-weight: 600; 
}
.nav li a::after {
  display:none;
  content: '';
  border-bottom: solid 2px #fff;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.nav li a:hover::after { transform: scaleX(1); }
.nav li a::after{ transform-origin:100% 50%; }
.nav li a::after{  transform-origin:  0% 50%;} 
.nav li a:hover {
	color: #fe3c5c; 
}
.nav li{
	position: relative;
}
.nav li:not(:first-child)::before {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fe3c5c;
    content: "";
    position: absolute;
    left: -5px;
    top: 48%;
    transform: translateY(-50%);
}

.nav li ul {
	position: absolute;
	opacity: 0;
	transition: all 0.2s ease-in;
	width:250px;
	display: none;
}
.nav li:hover ul {
	display: block;
}
.nav li ul li::after{
	display: none;
}
.nav li ul li a{
	border-bottom:1px solid #ccc;
	color: #000;
	transition: all 0.2s ease-in;
}
.nav li ul li a:hover{
	color: #fe3c5c;
	text-indent:5px;
}
.nav li.hover ul {
    opacity: 1;
}

.nav li li {
  display: block;
}

/**********************end menu***********************/
.header{
  background: #FA8345;
  padding: 20px 0;
}
.namskar{
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-weight: 500;
}
.namskar span {
    display: inline-block;
    vertical-align: middle;
}
.header-right div{
  display: inline-block;
  vertical-align: middle;
}
.con ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px;
}
.con {
    margin-left: 55px;
}
.contact-number{
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}
.contact-number span{
 display: block;
}
.contact-number span:nth-child(1){
  font-size: 16px;
  font-weight: 500;
}
.contact-number span:nth-child(2){
  font-size: 18px;
  font-weight: 400;
}
.contact-number {
    padding: 2px 13px;
    line-height: 20px;
    margin: 0 15px;
}
.notification a{
  background: #fff;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  padding: 7px;
  text-align: center;
  display: block;
}
.notification a:hover{
  background: #2a7fff;
}
.notification a:hover svg{
  fill: #ffffff
}
.notification{
  position: relative;
}
.count-noti {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 17px;
    height: 17px;
    background: #000;
    border-radius: 50%;
    color: #fff;
    font-size: 9px;
    font-weight: 500;
    text-align: center;
    line-height: 17px;
}
.login-button a{
  text-transform: uppercase;
  border-radius: 8px;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
   padding:7px 25px;
}
.login-button a:hover{
  background: #2a7fff;
  color: #fff;
}
.lag a {
    color: #000723;
    padding: 7px 15px;
    background: #fff;
    text-transform: uppercase;
    border-radius: 8px;
    display: inline-block;
}
.lag a:hover{
  background: #2a7fff;
  color: #fff;
}
.lag i {
    display: inline-block;
    position: relative;
    top: -3px;
}
.header-right {
    text-align: right;
}
.d1 div {
    margin-left: 15px;
}
.header .row {
    align-items: center;
}
.sin-ta table {
    width: 100%;
}
.fm-inp{
  background: #ECECEC;
  height: 55px;
  border-radius: 8px;
  border: none;
  text-align: center;
  font-size: 20px;
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
}
.si-button {
    background: #FA8345;
    height: 55px;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    width: 200px;
    margin-left: 13px;
}
.si-button:focus{
  border: none;
  outline:none;
}
.si-button:hover{
   background: #2a7fff;
  color: #fff;
}
.si-head {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #000723;
    line-height: 25px;
    padding-top: 0;
}
.sin-ta td {
    width: 100%;
}
.signup-sec {
    padding: 20px 55px;
    box-shadow: 0px 3px 6px #00000029;
}
.conecting ul{
  text-align: center;
}
.conecting ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
.conecting ul li a{
  background: #0980FE;
  display: block;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase; 
  text-align: center;
  font-family: 'Poppins', sans-serif;
  border-radius: 13px;
  width: 180px;
  height: 180px;
}
.conecting ul li a:hover{
  background: #FA8345;
}
.conecting ul li a span{
  display: block;
}
.conecting ul li a img {
    width: 70px;
    margin-top: 27px; 
    margin-bottom: 7px;
}
.conecting {
    margin: 100px 0;
}
.sec-head{
  text-align: center;
  letter-spacing: 0px;
  color: #000723;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 25px;
}
.img-head {
    text-align: center;
     font-family: 'Poppins', sans-serif;
     font-weight: 300;
     color: #000723;
     font-size: 24px;
     margin-bottom: 15px;
}
.free-ser{
  position: relative;
}
.owl-prev {
    width: 64px;
    height: 64px;
    border-radius: 50% !important;
    color: transparent !important;
    background: #fff !important;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
    left: -43px;
    top: 45%;
}
.owl-prev::before {
    display: block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #000;
    content: "";
    left:48%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.owl-prev:hover{
  background: #2a7fff !important;
}
.owl-prev:hover::before{
   border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #fff;
}
.owl-next {
    width: 64px;
    height: 64px;
    border-radius: 50% !important;
    color: transparent !important;
    background: #fff !important;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
    right: -43px;
    top: 45%;
}
.owl-next::before {
    display: block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #000;
    content: "";
    left:55%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.owl-next:hover{
  background: #2a7fff !important;
}
.owl-next:hover::before{
   border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
}
.free-ser-img img {
    border-radius: 8px;
}
.Astrologers-sec{
  background: #E5F2FF;
  padding: 50px 0px;
  margin: 70px 0;
}
.astro-head {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 35px;
}
.astro-head span{
  display: block;
}
.astro-head span:nth-child(1){
  font-size: 24px;
  color: #000723;
  font-weight: 600;
}
.astro-head span:nth-child(2){
  font-size: 17px;
  font-weight: 400;
  color: #000723;
}
.astrologers-inner img {
    width: auto !important;
}
.asro-man{
  position: relative;
}
.veryfid {
    position: absolute;
    top: -4px;
    left: 0;
}
.astrologers-inner {
    background: #fff;
   
    box-shadow: 0px 3px 6px #00000029;
border: 1px solid #F2F2F2;
border-radius: 13px;
}
.as1 {
    padding: 20px 25px;
}
.free-minutes {
    position: absolute;
    bottom: -30px;
    left: -13px;
}
.free-minutes span:nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    position: relative;
    top: -19px;
    width: 100%;
    text-align: center;
    display: block;
}
.as-rating {
    margin-top: 15px;
    font-size: 12px;
    margin-left: -7px;
    color: #FF800B
}
.as-review {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #2D2D2D;
    margin-left: -7px;
}
.as1-right {
    color: #2D2D2D;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    display: inline-block;
    width: 60%;
    margin-left: 10px;
    vertical-align: middle;
}
.as-name{ 
  font-weight: 600; 
}
.as-work {
    font-weight: 400;
    margin: 8px 0;
}
.as-lag {
    font-weight: 400;
    font-size: 12px;
}
.astrologers .item {
    padding: 8px 0;
}
.as1-left {
    display: inline-block; 
    width: 32%;
    vertical-align: middle; 
}
.as2 {
    background: #F2F2F2;
    padding: 7px 15px;
}
.as2-left {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    width: 70%;
}
.exp {
    margin-bottom: 12px;
}
span.can {
    position: relative;
    margin: 0 3px 0 0;
}
span.can::before {
    position: absolute;
    width: 100%;
    height: 1px;
    content: "";
    background: #f00;
    transform: rotate(-19deg);
    top: 12px;
    left: 6px;
}
span.now {
  color: #2A7FFF;
  font-weight: 600;
}
.as2-right {
    display: inline-block;
    vertical-align: middle;
    width: 28%;
    text-align: center;
}
.as2-right ul li{
  display: block;
}
.as2-right ul li a {
    background: #0980FE;
    border-radius: 6px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 9px;
    display: block;
    padding: 6px 8px;
    margin: 5px 0;
}
.as2-right a img {
    width: 15px !important;
    display: inline-block !important;
    margin-right: 3px;
}
.astrologers {
    position: relative;
}
.astrologers .owl-prev {
    top: 50%;
    transform: translateY(-50%);
}
.astrologers .owl-next {
    top: 50%;
    transform: translateY(-50%);
}
.yearly-inner {
    text-align: center; 
}
.yearly-img {
    width: 108px;
    height: 108px;
    background: #0980FE;
    border-radius: 13px;
    line-height: 107px;
    display: inline-block;
    margin-bottom: 8px;
}
.yearly-name{
  font-size: 18px;
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
}
.yearly-sec .row {
    padding: 0px 50px;
}
.yearly-inner {
    text-align: center;
    margin: 20px 0;
}
.yearly-img:hover{
  background: #FA8345;
}
.anytime {
    text-align: center; 
}
.anytime ul li{
  display: inline-block;
  vertical-align: middle;
}
.anytime-inner-img {
    height: 172px;
    width: 172px;
    background: #fff;
    border-radius: 13px;
    line-height: 172px;
}
.anytime-inner-desc{
  color: #000723;
   font-size: 18px;
   font-family: 'Poppins', sans-serif; 
   font-weight: 400;
   margin-top: 15px;
}
.anytime ul li:nth-child(2){
      margin: 0 100px;
}
.anytime ul li:nth-child(3){ 
      margin: 0 100px 0 0px;
}
.anytime-inner-img{
  position: relative;
}
.anytime ul li:not(:first-child) .anytime-inner-img::before {
    width: 30px;
    height: 30px;
    display: block;
    content: "";
    background: #fff;
    border-radius: 50%;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.anytime ul li:not(:last-child) .anytime-inner-img::after {
    width: 30px;
    height: 30px;
    display: block;
    content: "";
    background: #fff;
    border-radius: 50%;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.anytime ul{
  position: relative;
}
.anytime ul::before {
    width: 80%;
    height: 4px;
    display: block;
    content: "";
    background: #fff;
    right: 80px;
    top: 35%;
    transform: translateY(-50%);
    position: absolute;
}
.blog .img-head {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #000723;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 13px;
}
.blog {
    position: relative;
}
.blog .owl-prev{
  top: 21%;
}
.blog .owl-next{
    top: 21%;
}
.footer{
   font-family: 'Poppins', sans-serif;
}
.footer-one{
  background: #E0E0E0;
  padding: 20px 0px;
}
.usefull-link ul li{
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.usefull-link ul li a {
    color: #486F96;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    padding: 10px 0;
}
.footer-as ul li a {
    text-transform: uppercase;
    border-radius: 8px;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    padding: 13px 25px;
    display: block;
    text-align: center;
    margin: 23px 0; 
}
.footer-as ul li a:hover{
      background: #2a7fff;
    color: #fff;
}
.contact-us h3{
  color: #486F96;
  font-weight: 500;
  font-size: 22px;
   margin-bottom: 13px;
}
.contact-us p {
    color: #486F96;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 13px;
}
ul.footer-socisl li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}
.contact-us.cont-pad {
    padding-left: 25px;
}
.copyright{
  text-align: center;
  background: #2D2D2D;
  padding: 14px 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}
#scroll {
    position: fixed;
    right: 10px;
    bottom: 50px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    z-index: 100;
    box-shadow: 0px 3px 6px #00000029;
}
#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #4D88F6;
}
.footer-one .row {
    align-items: center; 
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    outline: none;
}
.owl-theme .owl-dots {
    display: none;
}
.yearly-sec {
  margin: 0 0 100px;
}




.section-bk {
  max-width: 90%;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 13px;
  box-shadow: 0 41px 36px #00000029;
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.sign-page, .astrologer-page {
  background: #FA8345;
  padding: 15px 0 30px;
}
.sign-main {
  padding: 75px 200px;
  position: relative;
}
.page-head {
  color: #2D2D2D;
  font-size: 32px;
  font-weight: 500;
  margin: 0 0 20px;
}
.sign-main .page-head {
  margin: 0 0 60px;
}
.sign-form .form-group input.form-control {
  font-size: 18px;
  color: #2D2D2D;
  height: auto;
  border: none;
  border-bottom: 1px solid #D1D1D1;
  border-radius: 0;
  box-shadow: none;
  z-index: 1;
  background: none !important;
  position: relative;
}
.custom-forgot a {
  color: #2D2D2D;
  font-size: 16px;
}
.sign-form .form-group button.btn {
  background: #8D8D8D;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
}
.astrologer-profe button.btn.continue_btn {
  background: #0980FE;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
}
.sign-form .form-group button.btn.continue_btn {
  background: #0980FE;
  color: #fff;
}
.sign-form .form-group button.btn:hover {
  background: #0980FE;
  color: #fff;
}
.sign-form .form-group {
  margin: 0 0 25px;
  position: relative;
}
.or-div {
  text-align: center;
  margin: 10px 0 40px;
  font-size: 18px;
}
.sign-btn li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
  width: 33.3333%;
}
.sign-btn li a {
  background: #F2F2F2;
  display: block;
  border-radius: 10px;
  text-align: center;
  height: 45px;
  padding: 8px 10px;
  color: #2D2D2D;
  font-size: 18px;
}
.sign-btn li a img {
  max-width: 25px;
  margin-right: 15px;
}
.logging-accepting {
  text-align: center;
  margin: 50px 0 0;
  color: #8D8D8D;
  font-size: 16px;
}
.logging-accepting a {
  color: #8D8D8D;
  font-size: 16px;
  text-decoration: underline;
}
.sign-footer {
  background: #E0E0E0;
  padding: 35px 15px 60px;
  border-radius: 0 0 10px 10px;
}
.astrologers-head {
  text-align: center;
  color: #2A7FFF;
  margin: 0 0 33px;
  font-size: 16px;
}
.astrologers-btn {
  text-align: center;
}
.astrologers-btn a {
  background: #F2F2F2;
  color: #2D2D2D;
  min-height: 50px;
  display: inline-block;
  min-width: 300px;
  padding: 13px;
  font-size: 18px;
  border-radius: 13px;
}
.astrologers-btn a:hover {
  background: #0980FE;
  color: #fff;
}
.sign-form .form-group label {
  color: #8D8D8D;
  font-size: 18px;
}
.select-option-form ul li {
  display: inline-block;
  margin: 0 15px;
  color: #2D2D2D;
  font-size: 14px;
  min-width: 105px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.select-option-form ul li input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.select-option-form ul li label {
  margin: 0;
  color: #2D2D2D;
  cursor: pointer;
  padding: 2px 15px;
  border: 1px solid #2D2D2D;
  border-radius: 5px;
  display: block;
}
.select-option-form ul li input[type="radio"]:checked + label {
  background: #2A7FFF;
  border: 1px solid #2A7FFF;
  color: #fff;
}
/* .select-option-form ul li.active {
  background: #2A7FFF;
  border: 1px solid #2A7FFF;
  color: #fff;
} */
.astrologer-main {
  padding: 75px;
}
.astrologer-main .sign-form {
  padding: 0 50px;
}
.astrologer-user-Link {
  border-bottom: 1px solid #D1D1D1;
  max-width: calc(100% - 100px);
  margin: 0 auto;
}
.astrologer-user-Link ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  border: none;
}
.astrologer-user-Link ul li {
  color: #000000;
  font-size: 24px;
  padding: 12px;
  border: none;
  width: 25%;
  display: block;
  text-align: center;
  border-bottom: 2px solid transparent;
  box-shadow: none !important;
  position: static !important;
}
.astrologer-user-Link ul li:before, .astrologer-user-Link ul li:after {
  content: none !important;
}
.astrologer-user-Link ul li.react-tabs__tab--selected {
  color: #2A7FFF;
  font-weight: 700;
  border-bottom: 2px solid #2A7FFF;
}
.astrologer-user-pro {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px;
  padding: 0 50px;
}
.astro-user-img {
  width: 120px;
  position: relative;
}
.astro-user-name {
  width: calc(100% - 120px);
  padding: 28px 0 0 40px;
}
.astrologer-user-tabs {
  padding: 20px 0;
}
span.user-status {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.sign-form .form-group .public-profile-btn button.btn {
  max-width: 450px;
  color: #000723;
  background: none;
  border: 1px solid #000723;
  padding: 7px;
  box-shadow: none;
  font-weight: 500;
}
.sign-form .form-group .public-profile-btn {
  margin: 60px 0;
}
.sign-form .form-group .add-btn .file-add {
  background: #0980FE;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
  min-width: 130px;
  padding: .375rem .75rem;
  cursor: pointer;
  margin: 0;
}
.sign-form .form-group .add-btn-div {
  max-width: 102px;
  position: relative;
}
.sign-form .form-group .add-btn-div input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}
.sign-form .form-group .add-btn-div label.file-add {
    display: inline-block;
    border: 1px solid #2A7FFF;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 2px 15px;
    min-width: 105px;
    background: #2A7FFF;
    text-align: center;
    cursor: pointer;
    margin: 0;
}
.astrologer-profe {
  padding: 0 50px;
}
.astro-profe-head h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}
.astro-profe-head {
  margin: 0 0 25px;
}
.astro-add-btn button.btn {
  display: inline-block;
  border: 1px solid #2A7FFF;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 2px 15px;
  min-width: 105px;
  background: #2A7FFF;
  text-align: center;
  cursor: pointer;
}
.astro-sel ul {
  display: flex;
  flex-wrap: wrap;
}
.astro-sel ul li button.btn {
  border: 0.5px solid #2A7FFF;
  font-size: 16px;
  border-radius: 50px;
  color: #2D2D2D;
  padding: .375rem 2rem;
}
.astro-sel ul li {
  margin: 0 20px 10px 0;
}
.astro-profe {
  margin: 0 0 35px;
}
.astro-input .form-group .form-control {
  font-size: 18px;
  background: #F2F2F2;
  color: #2D2D2D;
  height: auto;
  border: none;
  border-radius: 4px;
  box-shadow: none;
}
.astro-gallery ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: center;
}
.astro-gallery ul li {
    padding: 5px;
    width: 25%;
    max-height: 140px;
    border-radius: 5px;
    overflow: hidden;
}
.astro-gallery ul li img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.astrologer-main .astro-user-name .sign-form {
  padding: 0;
}
span.user-status input[type="file"] {
  opacity: 0;
  width: 44px;
  height: 44px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
span.user-status input[type="file"] + label {
  background: url(../images/icon_add.svg) no-repeat center center / cover;
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}
.sign-form .form-group .react-datepicker-wrapper {
  display: block;
}
.sign-form .form-group .react-datepicker-wrapper input {
  font-size: 18px;
  color: #2D2D2D;
  height: auto;
  border: none;
  border-bottom: 1px solid #D1D1D1;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  padding: .375rem .75rem;
}


.portfolio-cont-popup {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
  transition: all .5s ease-in-out;
  transform: translateY(-100%);
  overflow: auto;
}
.open-p-popup .portfolio-cont-popup {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.portfolio-cont {
  padding: 60px;
  overflow: auto;
  position: relative;
  max-width: 600px;
  margin: 50px auto;
  background: #fff;
}
.popup-close-btn {
  position: absolute;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 24px 0 rgba(5, 27, 44, 0.2);
  background: #fff;
  right: 0;
  top: 0;
  cursor: pointer;
}






.astro-profe-head .col-md-12 .multiselect-div div {
  border: none;
  padding: 0;
}
.astro-profe-head .col-md-12 .multiselect-div span.chip {
  border: 0.5px solid #2A7FFF;
  font-size: 16px;
  border-radius: 50px;
  color: #2D2D2D;
  padding: .375rem 2rem;
  background: none;
}
.multiselect-div {
  margin: 25px 0 0;
}
.multiselect-div input#search_input {
  font-size: 18px;
  color: #2D2D2D;
  height: auto;
  border: none;
  border-bottom: 1px solid #D1D1D1;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  margin: 10px 0 0;
  padding: .375rem .75rem;
}
.astro-user-lft {
  position: relative;
}
.thank-page .sign-section.section-bk {
  max-width: 596px;
  padding: 120px;
  text-align: center;
}
.thank-you-txt-p p {
  margin: 0;
  font-size: 18px;
  color: #000723;
}
.thank-you-txt-p {
  margin: 30px 0 0;
}
.thank-you-txt {
  font-size: 22px;
  color: #2A7FFF;
}
.sign-form .form-group label span {
  color: red;
  opacity: 0.8;
  padding-left: 2px;
}
.thank-you-img {
  margin: 0 0 8px;
}
.password-type-div {
  position: relative;
}
.password-type-div span.change-type {
  background: url(../images/ey1.png) no-repeat center center / 100%;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 24px;
  height: 24px;
  display: inline-block;
  transform: translate(0, -50%);
  cursor: pointer;
  z-index: 3;
}
.password-type-div input[type="text"] + span.change-type {
  background: url(../images/ey2.png) no-repeat center center / 100%;
}
.sign-close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.sign-close-btn a {
  display: block;
  position: relative;
  width: 37px;
  height: 37px;
}
.sign-close-btn a::before, .sign-close-btn a::after {
  content: "";
  border-top: 1px solid #707070;
  width: 37px;
  height: 1px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
}
.sign-close-btn a::before {
  transform: rotate(45deg);
}
.sign-close-btn a::after {
  transform: rotate(-45deg);
}
.sign-form .form-group label.form-label {
  position: absolute;
  z-index: 1;
  left: 12px;
  top: 25px;
  transition: all 0.2s ease-in;
}
.sign-form .form-group.focused label.form-label {
  transform: translateY(-125%);
}
.astrologerReg .sign-form .form-group {
  padding: 20px 0 0;
}
.astrologerReg .sign-form .form-group label a {
  color: #8D8D8D;
  text-decoration: underline;
}
span.user-img {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  background: #ddd;
}
span.user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 9;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open button.btn.btn-default,
.ReactModal__Overlay.ReactModal__Overlay--after-open button.resend {
  background: #0980FE;
  color: #fff;
  margin: 0 5px;
  font-size: 14px;
  border: none;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
}


span.user-gallery {
    position: relative;
}
span.user-gallery label.Add-btn {
    display: inline-block;
    border: 1px solid #2A7FFF;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 2px 15px;
    min-width: 105px;
    background: #2A7FFF;
    text-align: center;
    cursor: pointer;
    margin: 0;
}
span.user-gallery input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.add-btn-thml ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.add-btn-thml ul li {
    padding: 10px;
    max-width: 33%
}

.ReactModal__Overlay.ReactModal__Overlay--after-open .ReactModal__Content.ReactModal__Content--after-open {
    margin: 0 !important;
    text-align: center;
        min-width: 450px;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open .ReactModal__Content.ReactModal__Content--after-open h3 {
    font-size: 20px;
    color: #2d2d2d;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open .ReactModal__Content.ReactModal__Content--after-open .btn-modal-container {
  min-width: 200px;
}
.btn-modal-container span#otpError {
    color: #2d2d2d;
    margin: 15px 0 0;
    display: block;
    font-size: 14px;
}
.btn-modal-container input#otp {
    font-size: 18px;
    color: #2D2D2D;
    height: auto;
    border: none;
    border-bottom: 1px solid #D1D1D1;
    border-radius: 0;
    box-shadow: none;
    z-index: 1;
    background: none !important;
    position: relative;
}
.astrologer-user-tab .sign-form .form-group {
    padding: 20px 0 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}