.clear {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  padding-left: 667px;
  margin: 19px;
  cursor: pointer;
}
.rec {
  display: flex;
  justify-content: center;
  color: red;
}
