.checkboxFour {
  width: 1.3em !important;
  height: 1.3em !important;
  background-color: white;
  border-radius: 50% !important;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkboxFour:checked {
  background-color: rgb(22, 119, 209) !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: 0 !important ;
  outline: 0;
  box-shadow: 0 !important;
}

.tglbtn {
  border-radius: 7px !important;
  /* padding: 0.375rem 1.75rem; */
  font-size: 13px !important;
  line-height: 0.7 !important;
  border-color: rgba(45, 45, 45, 0.16) !important;
}

.dtlptnr {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  flex-wrap: nowrap;
  border-radius: 7px;
  padding-top: 12px;
  padding-bottom: 7px;
  padding-left: 12px;
  align-content: center;
}
.iconf {
  position: absolute;
  margin-top: 15px;
}
.inplace {
  padding-bottom: 0 !important;
  padding-left: 25px !important;
}
.asdetail {
  width: 300px !important;
  text-align: justify;
}
