a.nav-link.active {
  border-bottom: 3px solid black;
}
.nav {
  border-bottom: 1px solid #0000001f;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.avtimg {
  height: 140px;
}

.plusimg {
  height: 30px;
  width: 30px;
  margin-top: 90px;
  margin-left: -30px;
  border-radius: 50%;
}
