$text-color: #377c88;

body {
  margin: 0;
  padding: 0;
  color: #1f1a17;
  //font-family: 'Muli', sans-serif;

  background: #fff;
  overflow-x: hidden;
}

:root {
  --black-color: #000;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  //font-size: 100%
}

body ul {
  list-style: none;
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  border: none;
  height: auto;
}

a {
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

a img {
  border: 0;
  text-decoration: none;
}

body.main-menu-open {
  overflow: hidden;
}

.loader_image {
  background: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: all 0.5s ease-in-out 0.5s;
  opacity: 1;
}

.loader_image.fullloader {
  opacity: 0;
}

.loader_image.fullloader2 {
  display: none;
}

.loader_image span.loader_logo_image {
  position: relative;
  max-width: 200px;
}

.loader_logo_image .bounceball {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 46px;
  height: 4px;
  width: 4px;
  background: #1f1a17;
  border-radius: 50%;
}

.loader_logo_image .bounceball {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 46px;
  height: 4px;
  width: 4px;
  background: #1f1a17;
  border-radius: 50%;
  -webkit-animation: 1.3s infinite both div-bounce;
  animation: 1.3s infinite both div-bounce;
}

@-webkit-keyframes div-bounce {
  20%,
  53%,
  80%,
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -3.33px, 0);
    transform: translate3d(0, -3.33px, 0);
  }
}

@keyframes div-bounce {
  20%,
  53%,
  80%,
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -3.33px, 0);
    transform: translate3d(0, -3.33px, 0);
  }
}

.top-header {
  padding: 0 20px;
}

.top-left {
  padding: 12px 0;
}

header.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s ease 0s, opacity 0.5s ease 0s;
  scroll-behavior: smooth;
}

.home header.header {
  position: absolute;
  background: 0 0;
  border-bottom: none;
}

header.header.fixed {
  transform: translate3d(0, 60px, 0);
  position: fixed;
  top: -60px;
}

header.header.fixed .top-header {
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  //border-bottom: 1px solid rgb(1, 159, 182, .3)
}

.main-logo {
  max-width: 180px;
}

.menus {
  text-align: right;
  padding: 0 0;
}

.menus ul.links {
  display: flex;
  flex-wrap: wrap;
}

.banner-section {
  background-color: #fafbff;
  // background-image: url(../img/banner-2/Sans-titre-1-1.png), url(../img/banner-2/wave-separator-white.png);
  background-position: right top, center bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 80%, 100%;
  padding: 90px 0 0;
}

.banner-section-inn-div {
  position: relative;
  max-width: 1350px;
  margin: 0 auto;
}

.banner-slide {
  padding: 70px 0 0;
  overflow: hidden;
}

.slide-inn {
  display: table;
  width: 100%;
  padding: 520px 0 0;
  position: relative;
}

.slide-inn span {
  position: absolute;
  display: inline-block;
}

.slide-inn span.hm-1 {
  width: 425px;
  height: auto;
  left: 85px;
  top: 14px;
  transition: all 0.1s ease-in-out 1s;
  transform: translate(-6%, -6%);
  opacity: 0;
}

.slide-inn span.macbook-1 {
  width: 575px;
  height: auto;
  left: 128px;
  top: -63px;
  transition: all 0.2s ease-in-out 0.2s;
  transform: translate(6%, 6%);
  opacity: 0;
}

.slide-inn span.home-08-1 {
  width: 212px;
  height: auto;
  left: 450px;
  top: -80px;
  transition: all 0.2s ease-in-out 1.4s;
  transform: translate(6%, 6%);
  opacity: 0;
}

.slide-inn span.home-06-1 {
  width: 395px;
  height: auto;
  left: 500px;
  top: -30px;
  transition: all 0.2s ease-in-out 0.8s;
  transform: translate(0, 6%);
  opacity: 0;
}

.slide-inn span.hm-07-1 {
  width: 265px;
  height: auto;
  left: 150px;
  top: 250px;
  transition: all 0.2s ease-in-out 1.2s;
  transform: translate(0, 6%);
  opacity: 0;
}

.slide-inn span.home-04-1 {
  width: 425px;
  height: auto;
  left: 165px;
  top: 310px;
  transition: all 0.2s ease-in-out 0.4s;
  transform: translate(0, 6%);
  opacity: 0;
}

.slide-inn span.hom-05-1 {
  width: 515px;
  height: auto;
  left: 455px;
  top: 175px;
  transition: all 0.2s ease-in-out 0.6s;
  transform: translate(0, 6%);
  opacity: 0;
}

.active .slide-inn span.hm-07-1,
.active .slide-inn span.hm-1,
.active .slide-inn span.hom-05-1,
.active .slide-inn span.home-04-1,
.active .slide-inn span.home-06-1,
.active .slide-inn span.home-08-1,
.active .slide-inn span.macbook-1 {
  transform: translate(0, 0);
  opacity: 1;
}

.banner-slider-txt h4::after {
  content: "";
  border-bottom: 2px solid $text-color;
  width: 32px;
  bottom: 20px;
  display: inline-block;
  left: 0;
  position: absolute;
}

.banner-slider-txt h2 {
  font-family: "Muli", sans-serif;
  font-size: 32px;
  line-height: normal;
  margin: 0 0 40px;
  color: #1f1a17;
  transition: all 1s ease-in-out 0.2s;
  transform: translate(-50%, 0);
  opacity: 0;
}

.banner-slider-txt h2 b {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  display: block;
  color: $text-color;
  font-size: 40px;
  transition: all 2s ease-in-out 0.5s;
}

.banner-slider-txt p {
  font-size: 17px;
  color: #1f1a17;
  line-height: 2.2rem;
  margin: 0;
  font-family: "Muli", sans-serif;
  transition: all 1.5s ease-in-out 0.2s;
  transform: translate(-50%, 0);
  opacity: 0;
}

.active .banner-slider-txt h2,
.active .banner-slider-txt h4,
.active .banner-slider-txt p {
  transform: translate(0, 0);
  opacity: 1;
}

.quality-left ul li.active div.title::before {
  content: "";
  background: linear-gradient(110deg, $text-color 60%, #3bb3c2 60%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0.5;
}

.slide-inn span.data-analysis-plants {
  left: -85px;
  top: -60px;
}

.slide-inn span.data-analysis-phone-bg {
  top: 0;
  left: 55px;
  transition: all 0.3s ease-in-out 0.2s;
  opacity: 0;
}

.slide-inn span.woman {
  top: 90px;
  left: 276px;
  opacity: 0;
  transform: translate(6%, 6%);
  transition: all 0.3s ease-in-out 1.7s;
}

.slide-inn span.man {
  top: 160px;
  left: -97px;
  opacity: 0;
  transform: translate(-6%, 6%);
  transition: all 0.3s ease-in-out 1.5s;
}

.slide-inn span.da-point {
  top: 230px;
  left: 211px;
  opacity: 0;
  transform: translate(0, 0);
  transition: all 0.3s ease-in-out 1.3s;
}

.slide-inn span.da7 {
  top: 210px;
  left: 225px;
  transform: translate(0, 6%);
  opacity: 0;
  transition: all 0.3s ease-in-out 1.1s;
}

.slide-inn span.da-6 {
  top: 170px;
  left: 20px;
  opacity: 0;
  transform: translate(-6%, 0);
  transition: all 0.3s ease-in-out 0.9s;
}

.slide-inn span.da-5 {
  top: 270px;
  left: 67px;
  opacity: 0;
  transform: translate(-6%, 6%);
  transition: all 0.3s ease-in-out 0.7s;
}

.slide-inn span.da5 {
  left: 320px;
  top: 85px;
  opacity: 0;
  transform: translate(6%, -6%);
  transition: all 0.3s ease-in-out 0.5s;
}

.slide-inn span.da3 {
  left: 217px;
  top: 140px;
  opacity: 0;
  transform: translate(6%, -6%);
  transition: all 0.3s ease-in-out 0.5s;
}

.slide-inn span.da-1 {
  top: 80px;
  left: 40px;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.3s;
  transform: translate(-6%, -6%);
}

.active .slide-inn span.da-1,
.active .slide-inn span.da-5,
.active .slide-inn span.da-6,
.active .slide-inn span.da-point,
.active .slide-inn span.da3,
.active .slide-inn span.da5,
.active .slide-inn span.da7,
.active .slide-inn span.data-analysis-phone-bg,
.active .slide-inn span.man,
.active .slide-inn span.woman {
  opacity: 1;
  transform: translate(0, 0);
}

.slide-inn span.ec-plant-left {
  left: -70px;
  top: 255px;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.2s;
}

.slide-inn span.ec-plant-right {
  top: 212px;
  left: 407px;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.2s;
}

.slide-inn span.ec_01 {
  top: 71px;
  left: 296px;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.7s;
  transform: translate(0, 100%);
}

.slide-inn span.ec_03 {
  left: 157px;
  top: 85px;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.8s;
  transform: translate(0, 100%);
}

.slide-inn span.ec_04 {
  top: 142px;
  left: 156px;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.9s;
  transform: translate(0, 100%);
}

.slide-inn span.ec_05 {
  top: 107px;
  left: 229px;
  opacity: 0;
  transition: all 0.3s ease-in-out 1s;
  transform: translate(0, 100%);
}

.slide-inn span.ec_06 {
  top: 124px;
  left: 285px;
  opacity: 0;
  transition: all 0.3s ease-in-out 1.1s;
  transform: translate(0, 100%);
}

.slide-inn span.ec_07 {
  top: 180px;
  left: 178px;
  opacity: 0;
  transition: all 0.3s ease-in-out 1.2s;
  transform: translate(0, 100%);
}

.slide-inn span.ec_08 {
  top: 189px;
  left: 250px;
  opacity: 0;
  transition: all 0.3s ease-in-out 1.1s;
  transform: translate(0, 100%);
}

.slide-inn span.ec_09 {
  top: 202px;
  left: 303px;
  opacity: 0;
  transition: all 0.3s ease-in-out 1.2s;
  transform: translate(0, 100%);
}

.slide-inn span.ec_10 {
  top: 224px;
  left: 145px;
  opacity: 0;
  transition: all 0.3s ease-in-out 1.3s;
  transform: translate(0, 100%);
}

.slide-inn span.ec_012 {
  top: 72px;
  left: 253px;
  opacity: 0;
  transition: all 0.3s ease-in-out 1.4s;
  transform: translate(0, 100%);
}

.slide-inn span.ec_013 {
  top: 214px;
  left: 190px;
  opacity: 0;
  transition: all 0.3s ease-in-out 1.3s;
  transform: translate(0, 100%);
}

.slide-inn span.ec_14 {
  top: 256px;
  left: 159px;
  opacity: 0;
  transition: all 0.3s ease-in-out 1.4s;
  transform: translate(0, 100%);
}

.slide-inn span.ec_15 {
  top: 156px;
  left: 220px;
  opacity: 0;
  transition: all 0.3s ease-in-out 1.5s;
  transform: translate(0, 100%);
}

.slide-inn span.folder-back {
  top: 242px;
  left: 139px;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.5s;
}

.slide-inn span.folder-front {
  top: 230px;
  left: 142px;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.5s;
}

.slide-inn span.ec-man-left {
  top: 60px;
  left: 8px;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.5s;
}

.slide-inn span.ec-woman-left {
  top: 70px;
  left: 265px;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.5s;
}

.slide-inn span.ec-room {
  top: 24px;
  left: -50px;
  opacity: 0;
}

.active .slide-inn span.ec-man-left,
.active .slide-inn span.ec-plant-left,
.active .slide-inn span.ec-plant-right,
.active .slide-inn span.ec-room,
.active .slide-inn span.ec-woman-left,
.active .slide-inn span.ec_01,
.active .slide-inn span.ec_012,
.active .slide-inn span.ec_013,
.active .slide-inn span.ec_03,
.active .slide-inn span.ec_04,
.active .slide-inn span.ec_05,
.active .slide-inn span.ec_06,
.active .slide-inn span.ec_07,
.active .slide-inn span.ec_08,
.active .slide-inn span.ec_09,
.active .slide-inn span.ec_10,
.active .slide-inn span.ec_14,
.active .slide-inn span.ec_15,
.active .slide-inn span.folder-back,
.active .slide-inn span.folder-front {
  opacity: 1;
  transform: translate(0, 0);
}

.banner-slider-txt {
  position: relative;
  z-index: 1;
  padding-right: 20px;
}

.owl-carousel .owl-dots,
.owl-carousel .owl-nav {
  display: none;
}

.client-slider-right {
  padding-left: 30px;
}

.client-slider-right .owl-carousel .owl-dots {
  display: block;
  position: absolute;
  top: 30px;
  left: -30px;
}

.client-slider-right .owl-carousel .owl-dots::before {
  content: "";
  border-left: 1px solid #3bb3c2;
  position: absolute;
  top: 10px;
  left: 9px;
  height: calc(100% - 20px);
}

.client-slider-right .owl-carousel .owl-dots button.owl-dot {
  height: 18px;
  width: 18px;
  float: none;
  display: block;
  background: #fff;
  border: 1px solid #3bb3c2;
  margin: 12px 0;
  border-radius: 0;
  transform: rotate(45deg);
  outline: 0;
}

.client-slider-right .owl-carousel .owl-dots button.owl-dot span {
  display: none;
}

.client-slider-right .owl-carousel .owl-dots button.owl-dot.active,
.client-slider-right .owl-carousel .owl-dots button.owl-dot:focus,
.client-slider-right .owl-carousel .owl-dots button.owl-dot:hover {
  background: #3bb3c2;
  box-shadow: 0 4px 18px 0 rgba(5, 27, 44, 0.2);
}

.section-heading {
  text-align: center;
  margin: 0 0 50px;
}

.section-heading h2 {
  font-size: 40px;
  margin: 0 0 22px;
  padding: 0 0 20px;
  color: #1f1a17;
  position: relative;
  font-family: "Muli", sans-serif;
}

.section-heading h2::after {
  content: "";
  border-top: 3px solid #3bb3c2;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.5s ease-in-out 0.5s;
  display: inline-block;
  bottom: 0;
  width: 0;
}

.section-heading h2.aos-animate::after {
  width: 200px;
}

.section-heading p {
  font-size: 20px;
  display: inline-block;
  margin: 0;
  color: grey;
  max-width: 800px;
  font-family: "Muli", sans-serif;
}

.thoughtful-section {
  padding: 80px 0;
  background: #16181c;
}

.thoughtful-section .section-heading h2 {
  color: #fff;
}

.thoughtful-main-div ul {
  position: relative;
  padding: 30% 0 250px;
  overflow: hidden;
}

.thoughtful-main-div ul li {
  float: left;
  text-align: center;
  opacity: 0.8;
  transition: all 0.3s;
}

.thoughtful-main-div ul li.result_hover {
  opacity: 1;
}

.thoughtful-main-div ul li:nth-child(1) {
  width: 22%;
}

.thoughtful-main-div ul li:nth-child(2) {
  width: 32%;
  margin-left: -10.2%;
}

.thoughtful-main-div ul li:nth-child(3) {
  width: 51%;
  margin-left: -22%;
}

.thoughtful-main-div ul li:nth-child(4) {
  width: 30%;
  margin-left: -20%;
}

.thoughtful-main-div ul li:nth-child(5) {
  width: 17%;
  margin-left: -2px;
}

.thoughtful-main-div ul li:nth-child(1) .app-box {
  height: 130px;
}

.thoughtful-main-div ul li:nth-child(2) .app-box {
  height: 200px;
}

.thoughtful-main-div ul li:nth-child(3) .app-box {
  height: 335px;
}

.thoughtful-main-div ul li:nth-child(4) .app-box {
  height: 250px;
}

.thoughtful-main-div ul li:nth-child(5) .app-box {
  height: 100px;
}

.app-box img {
  max-height: 100%;
  height: auto;
  width: auto;
}

.thoughtful-main-div ul li:nth-child(1) .app-head-box {
  z-index: 5;
}

.thoughtful-main-div ul li:nth-child(2) .app-head-box {
  z-index: 4;
}

.thoughtful-main-div ul li:nth-child(3) .app-head-box {
  z-index: 3;
}

.thoughtful-main-div ul li:nth-child(4) .app-head-box {
  z-index: 2;
}

.thoughtful-main-div ul li:nth-child(5) .app-head-box {
  z-index: 1;
}

.app-head-box {
  position: relative;
}

.app-box {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  border: 2px dotted #75767a;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
  box-shadow: 0 0 5px #333;
}

.app-box::after {
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7),
    rgba(59, 179, 194, 0.5)
  );
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.result_hover .app-box {
  border: 2px dotted $text-color;
}

.result_hover .app-box::after {
  opacity: 0.8;
}

.app-txt {
  position: absolute;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  left: 50%;
  width: 100%;
  font-size: 20px;
  color: #eee;
  max-width: 870px;
  bottom: 0;
  min-height: 160px;
  margin: 100px 0 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0;
  z-index: 1;
}

.result_hover .app-txt {
  opacity: 1;
  z-index: 3;
}

.app-head-box h3 {
  font-family: "Muli", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #eee;
  height: 45px;
  margin: 0;
  -webkit-transition: color 0.3s, font-size 0.3s;
  transition: color 0.3s, font-size 0.3s;
  display: inline-block;
  position: relative;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
}

.result_hover .app-head-box h3 {
  color: #3bb3c2;
  font-size: 30px;
  cursor: pointer;
}

.quality-section {
  padding: 50px 0;
  background: #fff;
}

.quality-left ul li {
  display: inline-block;
  width: 195px;
  height: 220px;
  padding: 10px;
  vertical-align: top;
}

.quality-left ul li div.title {
  box-shadow: 0 4px 24px 0 rgba(5, 27, 44, 0.2);
  border-radius: 10px;
  padding: 15px;
  height: 100%;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.quality-left ul li.active div.title,
.quality-left ul li:hover div.title {
  transform: scale(1.02);
  box-shadow: 0 4px 24px 0 rgba(5, 27, 44, 0.4);
}

.quality-left ul li div.title h3 {
  font-size: 16px;
  margin: 0 0 15px;
  padding: 0 0 5px;
  font-family: "Muli", sans-serif;
  font-weight: 500;
  position: absolute;
  left: 15px;
  color: #1f1a17;
  width: 80%;
  bottom: 0;
}

.quality-left ul li div.title span.title-ft {
  position: absolute;
  right: 15px;
  top: 0;
  color: $text-color;
  font-size: 50px;
  opacity: 0.2;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  text-shadow: 1px 2px 3px #ccc;
}

.quality-left ul li:hover div.title span.title-ft {
  animation: smallToBig 1s alternate ease;
}

.quality-left ul li:nth-child(1) {
  margin-top: 0;
}

.quality-left ul li:nth-child(2) {
  margin-top: 50px;
}

.quality-left ul li:nth-child(3) {
  margin-top: 100px;
}

.quality-left ul li:nth-child(4) {
  margin-top: -100px;
}

.quality-left ul li:nth-child(5) {
  margin-top: -50px;
}

.quality-left ul li:nth-child(6) {
  margin-top: 0;
}

.quality-left ul li:nth-child(7) {
  margin-top: -100px;
}

.quality-left ul li:nth-child(8) {
  margin-top: -50px;
}

.quality-left ul li:nth-child(1) div.title {
  background: 0 0;
}

.quality-left ul li:nth-child(2) div.title {
  background: rgba(0, 58, 121, 0.8);
}

.quality-left ul li:nth-child(3) div.title {
  background: rgba(255, 255, 255, 1);
}

.quality-left ul li:nth-child(4) div.title {
  background: rgba(59, 179, 194, 0.8);
}

.quality-left ul li:nth-child(5) div.title {
  background: rgba(255, 255, 255, 0.8);
}

.quality-left ul li:nth-child(6) div.title {
  background: rgba(37, 89, 146, 0.8);
}

.quality-left ul li:nth-child(7) div.title {
  background: rgba(255, 255, 255, 0.8);
}

.quality-left ul li:nth-child(8) div.title {
  background: rgba(253, 184, 18, 0.8);
}

.quality-left ul li:nth-child(2) div.title h3,
.quality-left ul li:nth-child(2) div.title span.title-ft,
.quality-left ul li:nth-child(4) div.title h3,
.quality-left ul li:nth-child(4) div.title span.title-ft,
.quality-left ul li:nth-child(6) div.title h3,
.quality-left ul li:nth-child(6) div.title span.title-ft,
.quality-left ul li:nth-child(8) div.title h3 {
  color: #fff;
}

.quality-right ul li {
  display: none;
}

.quality-right ul li.active {
  display: block;
}

.quality-right {
  max-width: 80%;
  padding: 120px 0;
  margin: 0 auto;
}

.quality-right ul li dd.text h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  display: block;
  color: $text-color;
  font-size: 33px;
  margin: 0 0 20px;
  position: relative;
  padding: 0 0 10px;
}

.quality-right ul li dd.text h2::after {
  content: "";
  border-bottom: 3px solid #3bb3c2;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out 0.5s;
}

.quality-right ul li dd.text h2.aos-animate::after {
  width: 100px;
}

.quality-main-div li dd.text p {
  font-size: 19px;
  color: grey;
  margin: 0;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  line-height: 35px;
}

.theUniverse-section {
  padding: 50px 0;
  background: #fafbff;
}

.theUniverse-section .section-heading {
  margin: 0 0 20px;
}

.count-num ul {
  display: table;
  width: 100%;
}

.count-num ul li {
  display: table-cell;
  width: 25%;
  text-align: center;
}

.box-icon span {
  width: 80px;
  height: 80px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: $text-color;
  border-radius: 50%;
  border: 3px dotted transparent;
  position: relative;
}

.box-icon span {
  background: linear-gradient($text-color, #3bb3c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-icon span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px dotted #3bb3c2;
  border-radius: 50%;
  animation: rotation 10s infinite linear;
  -webkit-animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.counter-number {
  font-size: 35px;
  margin: 10px 0;
  color: #494949;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  line-height: normal;
}

.box-title {
  margin: 0;
  color: grey;
  font-size: 16px;
}

.theUniverse-imgs {
  position: relative;
  min-height: 420px;
}

.theUniverse-imgs span {
  position: absolute;
}

span.app-dev-phone {
  left: 80px;
  top: 30px;
  width: 250px;
}

.theUniverse-imgs span.ap-dev-woman {
  top: 70px;
  left: 100px;
  width: 230px;
}

.career-pro-right img {
  width: 100%;
  height: auto;
}

.theUniverse-imgs span.addp-dev-man {
  top: 110px;
  left: 220px;
}

.theUniverse-imgs span.app-dev-plants1 {
  left: 0;
  top: 0;
}

.count-num {
  padding: 110px 0;
}

.client-b-left-img span {
  position: absolute;
}

.client-b-left-img .online-shopping-bags {
  left: 250px;
  top: 150px;
}

.theUniverse-right {
  padding: 0 30px;
}

.client-b-left-img span.online-shopping-room {
  top: 0;
  left: 0;
}

.client-b-left-img span.onl {
  left: 0;
  top: 20px;
}

.client-b-left-img span.online-shopping-phone {
  left: 90px;
  top: 0;
}

.client-b-left-img span.online-shopping-woman {
  left: 0;
  top: 0;
  max-width: 250px;
}

.client-speeks-section {
  background: #fafbff;
  position: relative;
  padding: 50px 0;
}

.client-speeks-inn {
  position: relative;
  z-index: 1;
}

.client-speeks-main .item {
  padding: 25px 20px;
}

.client-speek-div {
  box-shadow: 0 4px 18px 0 rgba(5, 27, 44, 0.2);
  background: #fff;
  border-radius: 15px;
  padding: 40px 30px;
  border: 1px solid transparent;
  font-size: 17px;
  font-family: "Muli", sans-serif;
  color: #1f1a17;
  line-height: 30px;
  position: relative;
  text-align: center;
  width: 100%;
  display: flex;
  min-height: 350px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.testimonial-meta span.star-rating i {
  background: linear-gradient($text-color, #3bb3c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.client-speek-div::before {
  content: "";
  background: #9dd9e0;
  background: linear-gradient(#9dd9e0, #b1f7ff);
  display: inline-block;
  width: 350px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -150px;
  border-radius: 100px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  transform: rotate(55deg);
}

.client-speek-div .testimonial-pro {
  width: 150px;
  margin: 0;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.client-b-left-img {
  position: relative;
  min-height: 380px;
}

.client-speek-div .testimonial-content {
  width: calc(100% - 150px);
  text-align: left;
  padding-left: 15px;
  font-size: 15px;
  line-height: 28px;
  font-style: italic;
  vertical-align: middle;
  position: relative;
}

.testimonial-photo span {
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 4px 24px 0 rgba(5, 27, 44, 0.2);
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.testimonial-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-meta span {
  display: block;
}

span.testimonial-name {
  font-family: "Muli", sans-serif;
  font-weight: 500;
  color: #3bb3c2;
  font-size: 17px;
  line-height: normal;
  background: linear-gradient($text-color, #3bb3c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span.testimonial-position {
  font-family: "Muli", sans-serif;
  color: #1f1a17;
  font-size: 16px;
}

.center span.testimonial-name {
  color: $text-color;
}

.testimonial-pro .testimonial-photo {
  display: inline-block;
  padding: 10px 0 0;
}

.center .testimonial-photo {
  position: relative;
}

.testimonial-content::before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  width: auto;
  position: relative;
  top: -5px;
  right: 5px;
  font-size: 12px;
  color: #666;
}

.testimonial-content::after {
  content: "\f10e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  width: auto;
  position: relative;
  bottom: -5px;
  left: 5px;
  font-size: 12px;
  color: #666;
}

.testimonial-content p {
  margin: 0;
  text-indent: 50px;
  position: relative;
  z-index: 1;
  display: inline;
}

.testimonial-meta span.star-rating {
  font-size: 13px;
}

.client-speeks-inn .section-heading {
  margin: 0 0 40px;
}

.footer-area {
  position: relative;
}

.footer {
  position: relative;
  background: #16181c;
}

.footer-logo {
  max-width: 180px;
  margin: 0 0 25px;
}

.footer-txt-left p {
  margin: 0;
  color: #bfbfbf;
  font-size: 15px;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
}

.footer-txt-left p span:nth-child(2) {
  line-height: 30px;
}

.footer-menu li {
  line-break: normal;
  display: inline-block;
  margin-right: 30px;
}

.footer-menu li a {
  color: #bfbfbf;
  font-size: 18px;
  transition: all 0.3s ease-in;
  position: relative;
  font-family: "Muli", sans-serif;
  overflow: hidden;
  text-decoration: none;
}

.f-right-div li > span:nth-child(1) {
  width: 25px;
  font-size: 20px;
  color: #3bb3c2;
}

.footer-txt-left p span:nth-child(1) {
  width: 25px;
  font-size: 20px;
  color: #3bb3c2;
  margin-right: 5px;
}

.f-right-div li > span:nth-child(2) {
  padding-left: 10px;
  color: #bfbfbf;
  font-size: 15px;
  font-family: "Muli", sans-serif;
  font-weight: 300;
}

.f-right-div li {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 12px;
}

.f-right-div li > span a {
  color: #bfbfbf;
  font-size: 15px;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  display: block;
}

.footer-social {
  margin: 35px 0 0;
}

.footer-social ul li {
  display: inline-block;
  margin: 0 2px;
}

.footer-social ul li a {
  text-align: center;
  color: #bfbfbf;
  font-size: 18px;
  height: 35px;
  width: 35px;
  display: inline-block;
  border: 1px solid #bfbfbf;
  padding: 3px;
  border-radius: 5px;
}

.footer-copy {
  padding: 15px 0 25px;
}

.copy-lft {
  text-align: left;
}

.copy-rit {
  text-align: right;
}

.footer-copy-in p,
.footer-copy-in p a {
  color: #bfbfbf;
  font-size: 12px;
  transition: all 0.3s ease-in;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  text-decoration: none;
  margin: 0;
}

.footer-menu {
  padding: 40px 0 30px;
}

.footer-right {
  padding: 40px 0 10px;
}

.main-footer .col-md-8 {
  border-right: 1px solid rgba(191, 191, 191, 0.2);
}

.main-footer {
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(191, 191, 191, 0.2);
  position: relative;
  z-index: 1;
}

.copy-right-footer {
  position: relative;
  z-index: 1;
}

.social-section {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  z-index: 99;
}

.social-section li a {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  border-radius: 25px;
}

.social-section li.facebook a {
  background: #3b5998;
}

.social-section li.twitter a {
  background: #00acee;
}

.social-section li.linkedin a {
  background: #0e76a8;
}

.social-section li.whatsapp a {
  background: #25d366;
}

.social-section li a span:nth-child(1) {
  font-size: 16px;
  padding-right: 0;
  display: inline-block;
  width: auto;
}

.social-section li a span:nth-child(2) {
  position: absolute;
  right: 0;
  min-width: 130px;
  width: 0;
  min-height: 34px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background: #fff;
  color: #000;
  display: inline-block;
  padding: 7px 15px;
  top: 5px;
  border-radius: 20px;
  font-size: 12px;
  transition: all 0.5s ease-in;
  z-index: -2;
  opacity: 0;
  visibility: hidden;
}

.social-section li a span:nth-child(2)::after {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  content: "";
  border-left: 10px solid #fff;
  position: absolute;
  right: -7px;
}

.social-section li {
  position: relative;
  height: 44px;
}

.social-section li:hover a span:nth-child(2) {
  right: 100%;
  opacity: 1;
  visibility: visible;
}

.page-banner-section {
  padding: 15px 0;
  background: linear-gradient(
    -90deg,
    rgba(59, 179, 194, 0.5),
    rgba(59, 179, 194, 1)
  );
  box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.page-main-banner-inn {
  position: relative;
}

.page-ltr {
  -webkit-text-stroke: 2px;
  color: $text-color;
  font-size: 150px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  line-height: 165px;
  top: 0;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  width: 100%;
  opacity: 0.1;
}

.page-title {
  font-size: 65px;
  color: #fff;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 1;
}

body.open-p-popup {
  overflow: hidden;
}

.page-main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.page-title-main {
  text-align: center;
}

.company-pro-left h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  display: block;
  color: $text-color;
  font-size: 33px;
  margin: 0 0 20px;
  position: relative;
  padding: 0 0 10px;
}

.company-pro-left h2::after {
  content: "";
  border-bottom: 3px solid #3bb3c2;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out 0.5s;
}

.company-pro-left h2.aos-animate::after {
  width: 100px;
}

.company-pro-left li,
.company-pro-left p {
  font-size: 17px;
  color: grey;
  margin: 0;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  line-height: 30px;
}

.company-pro-left p b {
  font-weight: 400;
  font-family: "Muli", sans-serif;
  line-height: normal;
  margin: 0 0 20px;
  display: block;
}

.company-pro-left .pg {
  margin: 25px 0 0;
}

.company-pro-left .pg a {
  font-size: 16px;
  text-align: center;
  border-radius: 55px;
  transition: all 0.3s ease-in-out;
  background: 0 0;
  color: #3bb3c2;
  border: 1px solid #3bb3c2 !important;
  cursor: pointer;
  padding: 7px 25px;
  display: inline-block;
  font-family: "Muli", sans-serif;
  text-decoration: none;
}

.company-pro-left .pg a:focus,
.company-pro-left .pg a:hover {
  background: linear-gradient($text-color, #3bb3c2);
  color: #fff;
}

.company-pro-left li {
  padding-left: 25px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.company-pro-left li:hover {
  padding-left: 30px;
}

.company-pro-left li::after,
.company-pro-left li::before {
  content: "";
  height: 10px;
  width: 10px;
  display: inline-block;
  border-right: 2px solid #3bb3c2;
  border-bottom: 2px solid #3bb3c2;
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  left: 5px;
  transition: all 0.5s ease-in-out;
}

.company-pro-left li::before {
  border-width: 1px;
  opacity: 0;
}

.company-pro-left li:hover::before {
  opacity: 1;
  left: 9px;
}

.company-abt-dtl {
  padding: 15px 0;
}

.about-section {
  padding: 50px 0 0;
}

.about-section-in .section-heading {
  margin: 0 0 50px;
}

.our-team-section {
  padding: 50px 0;
}

.whatswedo .company-pro-right {
  position: relative;
  min-height: 430px;
}

.company-pro-right span {
  position: absolute;
}

.company-pro-right span.man-2 {
  left: 0;
  bottom: 0;
}

.company-pro-right span.wd-room {
  top: 30px;
  left: 0;
}

.company-pro-right span.PC-1 {
  top: 45px;
  right: -10px;
  width: 350px;
}

.company-pro-right span.in-plant-right {
  right: 10px;
  bottom: 20px;
  width: 120px;
}

.company-abt-dtl.ourvision .company-pro-left,
.company-abt-dtl.whoweare .company-pro-left {
  padding-right: 100px;
}

.company-abt-dtl.ourmission .company-pro-left,
.company-abt-dtl.whatswedo .company-pro-left {
  padding-left: 100px;
}

.company-abt-inn::before {
  content: "";
  background: #f1f4f6;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100vw;
}

.company-abt-dtl.ourvision .company-abt-inn::before,
.company-abt-dtl.whoweare .company-abt-inn::before {
  right: 22%;
  left: auto;
}

.company-abt-dtl.ourmission .company-abt-inn::before,
.company-abt-dtl.whatswedo .company-abt-inn::before {
  right: auto;
  left: 22%;
}

.company-abt-inn {
  position: relative;
  padding: 50px;
}

.technical-stack-section {
  padding: 50px 0;
  background: #fff;
}

.technical-main-img {
  text-align: center;
}

.technical-stack-main {
  position: relative;
  // background: url(../images/network-graphic.png) center center
}

.technical-stack-ul ul li {
  display: inline-block;
  position: absolute;
  z-index: 3;
}

.technical-stack-ul ul li span img {
  width: 80px;
  height: 80px;
  filter: grayscale(1);
  display: inline-block;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

.technical-stack-ul ul li:hover span img {
  filter: grayscale(0);
  transform: scale(1.05);
  opacity: 1;
}

.technical-stack-ul ul li span {
  display: block;
  font-size: 22px;
  font-family: "Muli", sans-serif;
  color: grey;
  transition: all 0.3s ease-in-out;
}

.technical-stack-ul ul li.adobe-xd {
  top: 10px;
  left: 10px;
}

.technical-stack-ul ul li.android {
  top: 90px;
  left: 190px;
}

.technical-stack-ul ul li.angularjs {
  top: 110px;
  left: 285px;
}

.technical-stack-ul ul li.aws {
  top: 10px;
  left: 210px;
}

.technical-stack-ul ul li.codeigniter {
  top: 120px;
  left: 15px;
}

.technical-stack-ul ul li.css3 {
  top: 190px;
  left: 120px;
}

.technical-stack-ul ul li.django {
  top: 200px;
  left: 220px;
}

.technical-stack-ul ul li.drupal {
  top: 310px;
  left: 260px;
}

.technical-stack-ul ul li.flutter {
  top: 10px;
  left: 110px;
}

.technical-stack-ul ul li.html5 {
  top: 230px;
  left: 25px;
}

.technical-stack-ul ul li.illustrator {
  top: 330px;
  left: 120px;
}

.technical-stack-ul ul li.ionic {
  top: 335px;
  left: 20px;
}

.technical-stack-ul ul li.ios {
  top: 425px;
  left: 300px;
}

.technical-stack-ul ul li.java {
  top: 80px;
  left: 100px;
}

.technical-stack-ul ul li.javascript {
  top: 430px;
  left: 110px;
}

.technical-stack-ul ul li.joomla {
  top: 10px;
  left: 310px;
}

.technical-stack-ul ul li.jquery {
  top: 435px;
  left: 15px;
}

.technical-stack-ul ul li.keras {
  top: 410px;
  left: 200px;
}

.technical-stack-ul ul li.kotlin {
  top: 260px;
  left: 160px;
}

.technical-stack-ul ul li.laravel {
  top: 30px;
  right: 10px;
}

.technical-stack-ul ul li.less {
  top: 130px;
  right: 180px;
}

.technical-stack-ul ul li.magento {
  top: 110px;
  right: 285px;
}

.technical-stack-ul ul li.mongodb {
  top: 40px;
  right: 210px;
}

.technical-stack-ul ul li.mysql {
  top: 150px;
  right: 15px;
}

.technical-stack-ul ul li.nodejs {
  top: 190px;
  right: 120px;
}

.technical-stack-ul ul li.numpy {
  top: 230px;
  right: 220px;
}

.technical-stack-ul ul li.panda {
  top: 340px;
  right: 240px;
}

.technical-stack-ul ul li.photoshop {
  top: 10px;
  right: 110px;
}

.technical-stack-ul ul li.php {
  top: 230px;
  right: 25px;
}

.technical-stack-ul ul li.powerBi {
  top: 340px;
  right: 120px;
}

.technical-stack-ul ul li.python {
  top: 335px;
  right: 20px;
}

.technical-stack-ul ul li.react {
  top: 415px;
  right: 320px;
}

.technical-stack-ul ul li.react-native {
  top: 100px;
  right: 85px;
}

.technical-stack-ul ul li.rubyonrails {
  top: 255px;
  right: 110px;
}

.technical-stack-ul ul li.swift {
  top: 10px;
  right: 310px;
}

.technical-stack-ul ul li.tensorflow {
  top: 435px;
  right: 45px;
}

.technical-stack-ul ul li.xamarin {
  top: 420px;
  right: 140px;
}

.technical-stack-ul ul li.tableau {
  top: 450px;
  right: 228px;
}

.technical-main-mdl {
  position: relative;
  min-height: 550px;
}

.technical-tk-ul ul li {
  position: absolute;
  z-index: 3;
}

.technical-tk-ul ul li a {
  background: linear-gradient(110deg, #3bb3c2, #42d6e9);
  display: flex;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  align-items: center;
  font-family: "Muli", sans-serif;
  padding: 10px;
  text-decoration: none;
  justify-content: center;
  color: #fff;
  position: relative;
  z-index: 33;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.3);
}

.technical-tk-ul ul li.active {
  z-index: 9;
}

.technical-tk-ul > ul > li:nth-child(1) {
  top: 227px;
  left: -2px;
}

.technical-tk-ul > ul > li:nth-child(2) {
  top: 75px;
  left: 65px;
}

.technical-tk-ul > ul > li:nth-child(3) {
  top: -2px;
  left: 250px;
}

.technical-tk-ul > ul > li:nth-child(4) {
  top: 75px;
  left: 428px;
}

.technical-tk-ul > ul > li:nth-child(5) {
  top: 225px;
  left: 495px;
}

.technical-main-img span {
  display: inline-block;
  width: 100%;
}

.technical-main-img span img {
  width: 100%;
}

.contact-us-map {
  position: relative;
}

.contact-us-map iframe {
  width: 100%;
  height: 450px;
  display: block;
}

.contact-form .form-wrapper {
  padding: 0 30px;
}

.contact-form .form-group {
  position: relative;
  margin: 0 0 25px;
}

.contact-form .form-label {
  font-size: 17px;
  display: inline-block;
  margin: 0;
  color: grey;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-weight: lighter;
}

.contact-form .form-group .form-label {
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 20px;
  transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out,
    -webkit-transform 150ms ease-out;
}

.contact-form .form-group.focused .form-label {
  -webkit-transform: translateY(-125%);
  transform: translateY(-125%);
  font-size: 0.75em;
  z-index: 10;
}

.contact-form .form-control {
  position: relative;
  background: 0 0 !important;
  z-index: 3;
  padding: 12px 0 5px 0;
  height: 60px;
  border-radius: 0;
  width: 100%;
  font-size: 20px;
  outline: 0;
  border: 0;
  border-bottom: 1px solid grey;
  box-shadow: none !important;
  transition: box-shadow 150ms ease-out;
}

.contact-form textarea.form-control {
  height: auto;
  min-height: 120px;
}

.contact-form .form-control.filled,
.contact-form .form-control:focus {
  border-bottom: 1px solid #5fc1cd;
}

.section-left-head h2 {
  font-size: 40px;
  margin: 0 0 30px;
  padding: 0 0 30px;
  color: #1f1a17;
  position: relative;
  font-family: "Muli", sans-serif;
}

.section-left-head h2::after {
  content: "";
  border-top: 3px solid #3bb3c2;
  position: absolute;
  left: 0;
  transition: all 0.5s ease-in-out 0.5s;
  display: inline-block;
  bottom: 0;
  width: 0;
}

.section-left-head h2.aos-animate::after {
  width: 200px;
}

.section-left-head p {
  font-size: 20px;
  display: inline-block;
  margin: 0;
  color: grey;
  max-width: 87%;
  font-family: "Muli", sans-serif;
  font-weight: 300;
}

.field.form-submit button[type="submit"] {
  font-size: 20px;
  outline: 0;
  box-shadow: none !important;
  text-align: center;
  border-radius: 55px;
  transition: all 0.3s ease-in-out;
  background: 0 0;
  color: #3bb3c2;
  border: 1px solid #3bb3c2 !important;
  cursor: pointer;
  padding: 12px 15px;
  display: inline-block;
  min-width: 270px;
}

.field.form-submit button[type="submit"]:focus,
.field.form-submit button[type="submit"]:hover {
  background: linear-gradient($text-color, #3bb3c2);
  color: #fff;
}

.contact-form-left {
  padding: 0 50px;
}

.contact-section.contact-us-section {
  padding: 50px 0;
  position: relative;
}

.contact-section.contact-us-section::before {
  content: "";
  background: #f1f4f6;
  position: absolute;
  height: 100%;
  top: 0;
  right: 50%;
  width: 100vw;
}

.contact-us-section2 {
  background: #fafbff;
  padding: 50px 0;
}

.contact-service ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.contact-service ul li {
  width: 50%;
}

.contact-service ul li .contact-add-div {
  border: 1px solid transparent;
  padding: 15px 25px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.contact-service ul li:hover .contact-add-div {
  box-shadow: 0 4px 24px 0 rgba(5, 27, 44, 0.2);
  background: #fff;
  border: 1px solid #3bb3c2;
}

.contact-service ul li h3 {
  color: #1f1a17;
  margin: 0 0 10px;
  font-family: "Muli", sans-serif;
  font-size: 24px;
}

.contact-service ul li p {
  font-size: 16px;
  margin: 0 0 10px;
  color: grey;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  display: flex;
}

.contact-service ul li p span {
  margin: 0 0 5px;
}

.contact-service ul li p span:nth-child(1) {
  font-size: 20px;
  color: #3bb3c2;
  margin-right: 10px;
}

.contact-service ul li p span a {
  color: #1f1a17;
  font-family: "Muli", sans-serif;
  display: block;
}

.office-add li h3 {
  color: #fff;
  margin: 0 0 25px;
  font-family: "Muli", sans-serif;
  font-size: 25px;
  padding: 0 20px 6px 0;
  display: inline-block;
  border-bottom: 2px solid #3bb3c2;
}

.office-add li p {
  margin: 0;
  color: #eee;
  font-size: 15px;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  display: flex;
}

.office-add li p span:nth-child(1) {
  margin-right: 5px;
  font-size: 20px;
  color: #3bb3c2;
  width: 25px;
}

.office-add li p span:nth-child(2) {
  width: calc(100% - 25px);
  line-height: 25px;
}

.map-section {
  position: relative;
}

.map-add .contact-form-left {
  padding: 30px 50px;
  position: absolute;
  top: -450px;
  left: 0;
  z-index: 3;
  height: 451px;
  display: block;
  width: 100%;
}

.map-add .contact-form-left::before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 100vw;
}

.map-add .section-left-head h2 {
  color: #fff;
}

.technical-main-img,
.technical-stack-ul,
.technical-tk-ul > ul > li {
  transition: all 0.5s ease-in-out;
}

.index-top .technical-main-img,
.index-top .technical-stack-ul,
.index-top .technical-tk-ul > ul > li {
  opacity: 0.2;
}

.technical-tk-ul ul li ul li span img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.technical-tk-ul ul li ul li {
  position: absolute;
  opacity: 0;
}

.technical-tk-ul > ul > li.active ul li {
  transition: all 0.8s ease-in-out;
  opacity: 1;
  background: #fff;
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  align-items: center;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  padding: 10px;
  text-decoration: none;
  justify-content: center;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
}

.index-top .technical-tk-ul > ul > li.active {
  opacity: 1;
}

.technical-tk-ul > ul > li ul li {
  transform: scale(0);
}

.technical-tk-ul > ul > li.active ul li {
  transform: scale(1);
}

.technical-tk-ul > ul > li.active ul li span img {
  width: 95%;
  height: 95%;
}

.technical-tk-ul > ul > li ul li::before {
  content: "";
  border-top: 1px dashed #333;
  width: 70px;
  opacity: 0;
  display: inline-block;
  position: absolute;
  transition: all 0.5s ease-in-out 1s;
}

.technical-tk-ul > ul > li.active ul li::before {
  opacity: 1;
}

.technical-tk-ul ul li ul li.css3 {
  top: -37px;
  left: -198px;
}

.technical-tk-ul ul li ul li.html5 {
  top: 3px;
  left: -293px;
}

.technical-tk-ul ul li ul li.javascript {
  top: 203px;
  left: -208px;
}

.technical-tk-ul ul li ul li.angular {
  top: -117px;
  left: -33px;
}

.technical-tk-ul ul li ul li.react {
  top: 188px;
  right: -507px;
}

.technical-tk-ul ul li ul li.less {
  top: -97px;
  right: -647px;
}

.technical-tk-ul ul li ul li.jquery {
  top: 209px;
  left: -303px;
}

.index-top .technical-tk-ul > ul > li.frontend.active ul li.css3 {
  top: 15px;
  left: -130px;
}

.index-top .technical-tk-ul > ul > li.frontend.active ul li.html5 {
  top: -70px;
  left: -102px;
}

.index-top .technical-tk-ul > ul > li.frontend.active ul li.javascript {
  top: -122px;
  left: -30px;
}

.index-top .technical-tk-ul > ul > li.frontend.active ul li.angular {
  top: -123px;
  left: 60px;
}

.index-top .technical-tk-ul > ul > li.frontend.active ul li.react {
  top: -72px;
  right: -102px;
}

.index-top .technical-tk-ul > ul > li.frontend.active ul li.less {
  top: 15px;
  right: -130px;
}

.index-top .technical-tk-ul > ul > li.frontend.active ul li.jquery {
  top: 100px;
  left: 133px;
}

.technical-tk-ul > ul > li.frontend ul li:nth-child(1)::before {
  transform: rotate(0);
  left: 70px;
  top: 35px;
}

.technical-tk-ul > ul > li.frontend ul li:nth-child(2)::before {
  transform: rotate(36deg);
  top: 75px;
  left: 56px;
}

.technical-tk-ul > ul > li.frontend ul li:nth-child(3)::before {
  transform: rotate(72deg);
  top: 100px;
  left: 20px;
}

.technical-tk-ul > ul > li.frontend ul li:nth-child(4)::before {
  transform: rotate(108deg);
  top: 100px;
  right: 22px;
}

.technical-tk-ul > ul > li.frontend ul li:nth-child(5)::before {
  transform: rotate(-36deg);
  top: 76px;
  right: 55px;
}

.technical-tk-ul > ul > li.frontend ul li:nth-child(6)::before {
  transform: rotate(0);
  right: 70px;
  top: 35px;
}

.technical-tk-ul > ul > li.frontend ul li:nth-child(7)::before {
  transform: rotate(36deg);
  bottom: 75px;
  right: 56px;
}

.technical-tk-ul ul li ul li.php {
  right: -735px;
  top: 155px;
}

.technical-tk-ul ul li ul li.codeigniter {
  left: -370px;
  top: 45px;
}

.technical-tk-ul ul li ul li.drupal {
  top: 235px;
  left: -125px;
}

.technical-tk-ul ul li ul li.joomla {
  top: -65px;
  left: -75px;
}

.technical-tk-ul ul li ul li.laravel {
  top: -45px;
  right: -750px;
}

.technical-tk-ul ul li ul li.magento {
  top: 35px;
  right: -475px;
}

.technical-tk-ul ul li ul li.mysql {
  top: 75px;
  right: -745px;
}

.technical-tk-ul ul li ul li.nodejs {
  top: 115px;
  right: -640px;
}

.technical-tk-ul ul li ul li.rubyonrails {
  top: 180px;
  right: -650px;
}

.technical-tk-ul ul li ul li.java {
  top: 5px;
  left: -285px;
}

.index-top .technical-tk-ul > ul > li.backend.active ul li.php {
  top: 15px;
  right: 160px;
}

.index-top .technical-tk-ul > ul > li.backend.active ul li.rubyonrails {
  top: -70px;
  right: 132px;
}

.index-top .technical-tk-ul > ul > li.backend.active ul li.mysql {
  top: -122px;
  right: 60px;
}

.index-top .technical-tk-ul > ul > li.backend.active ul li.nodejs {
  top: -123px;
  right: -30px;
}

.index-top .technical-tk-ul > ul > li.backend.active ul li.codeigniter {
  top: -72px;
  left: 132px;
}

.index-top .technical-tk-ul > ul > li.backend.active ul li.magento {
  top: 15px;
  right: -130px;
}

.index-top .technical-tk-ul > ul > li.backend.active ul li.drupal {
  top: 100px;
  left: 133px;
}

.index-top .technical-tk-ul > ul > li.backend.active ul li.joomla {
  top: 153px;
  left: 60px;
}

.index-top .technical-tk-ul > ul > li.backend.active ul li.laravel {
  top: 153px;
  right: 60px;
}

.index-top .technical-tk-ul > ul > li.backend.active ul li.java {
  top: 100px;
  left: -100px;
}

.technical-tk-ul > ul > li.backend ul li:nth-child(1)::before {
  transform: rotate(0);
  left: 70px;
  top: 35px;
}

.technical-tk-ul > ul > li.backend ul li:nth-child(2)::before {
  transform: rotate(-36deg);
  top: 76px;
  right: 55px;
}

.technical-tk-ul > ul > li.backend ul li:nth-child(3)::before {
  transform: rotate(36deg);
  bottom: 75px;
  right: 56px;
}

.technical-tk-ul > ul > li.backend ul li:nth-child(4)::before {
  transform: rotate(72deg);
  bottom: 100px;
  right: 20px;
}

.technical-tk-ul > ul > li.backend ul li:nth-child(5)::before {
  transform: rotate(108deg);
  bottom: 100px;
  left: 22px;
}

.technical-tk-ul > ul > li.backend ul li:nth-child(6)::before {
  transform: rotate(0);
  right: 70px;
  top: 35px;
}

.technical-tk-ul > ul > li.backend ul li:nth-child(7)::before {
  transform: rotate(72deg);
  top: 100px;
  left: 20px;
}

.technical-tk-ul > ul > li.backend ul li:nth-child(8)::before {
  transform: rotate(108deg);
  top: 100px;
  right: 22px;
}

.technical-tk-ul > ul > li.backend ul li:nth-child(9)::before {
  transform: rotate(36deg);
  top: 75px;
  left: 56px;
}

.technical-tk-ul > ul > li.backend ul li:nth-child(10)::before {
  transform: rotate(-36deg);
  bottom: 75px;
  left: 56px;
}

.technical-tk-ul ul li ul li.android {
  top: 92px;
  left: -381px;
}

.technical-tk-ul ul li ul li.ios {
  top: 427px;
  left: -271px;
}

.technical-tk-ul ul li ul li.flutter {
  top: 12px;
  left: -460px;
}

.technical-tk-ul ul li ul li.ionic {
  top: 337px;
  left: -550px;
}

.technical-tk-ul ul li ul li.kotlin {
  left: -410px;
  top: 262px;
}

.technical-tk-ul ul li ul li.react-native {
  right: -490px;
  top: 102px;
}

.technical-tk-ul ul li ul li.swift {
  top: 12px;
  right: -265px;
}

.technical-tk-ul ul li ul li.xamarin {
  top: 422px;
  right: -435px;
}

.index-top .technical-tk-ul > ul > li.mobile-app.active ul li.android {
  top: 15px;
  left: -130px;
}

.index-top .technical-tk-ul > ul > li.mobile-app.active ul li.ios {
  top: -70px;
  left: -102px;
}

.index-top .technical-tk-ul > ul > li.mobile-app.active ul li.flutter {
  top: -122px;
  left: -30px;
}

.index-top .technical-tk-ul > ul > li.mobile-app.active ul li.ionic {
  top: -123px;
  left: 60px;
}

.index-top .technical-tk-ul > ul > li.mobile-app.active ul li.kotlin {
  top: -70px;
  left: 130px;
}

.index-top .technical-tk-ul > ul > li.mobile-app.active ul li.react-native {
  top: 100px;
  right: -100px;
}

.index-top .technical-tk-ul > ul > li.mobile-app.active ul li.swift {
  top: 15px;
  right: -130px;
}

.index-top .technical-tk-ul > ul > li.mobile-app.active ul li.xamarin {
  top: 153px;
  right: -30px;
}

.technical-tk-ul > ul > li.mobile-app ul li:nth-child(1)::before {
  transform: rotate(0);
  left: 70px;
  top: 35px;
}

.technical-tk-ul > ul > li.mobile-app ul li:nth-child(2)::before {
  transform: rotate(36deg);
  top: 75px;
  left: 56px;
}

.technical-tk-ul > ul > li.mobile-app ul li:nth-child(3)::before {
  transform: rotate(72deg);
  top: 100px;
  left: 20px;
}

.technical-tk-ul > ul > li.mobile-app ul li:nth-child(4)::before {
  transform: rotate(108deg);
  top: 100px;
  right: 22px;
}

.technical-tk-ul > ul > li.mobile-app ul li:nth-child(5)::before {
  transform: rotate(-36deg);
  top: 76px;
  right: 55px;
}

.technical-tk-ul > ul > li.mobile-app ul li:nth-child(6)::before {
  transform: rotate(36deg);
  bottom: 75px;
  right: 56px;
}

.technical-tk-ul > ul > li.mobile-app ul li:nth-child(7)::before {
  transform: rotate(0);
  right: 70px;
  top: 35px;
}

.technical-tk-ul > ul > li.mobile-app ul li:nth-child(8)::before {
  transform: rotate(72deg);
  bottom: 100px;
  right: 20px;
}

.technical-tk-ul ul li ul li.adobe-xd {
  top: -65px;
  left: -739px;
}

.technical-tk-ul ul li ul li.illustrator {
  top: 255px;
  left: -628px;
}

.technical-tk-ul ul li ul li.photoshop {
  top: -65px;
  right: -287px;
}

.index-top .technical-tk-ul > ul > li.ui-ux-design.active ul li.adobe-xd {
  top: 15px;
  left: 160px;
}

.index-top .technical-tk-ul > ul > li.ui-ux-design.active ul li.illustrator {
  top: -70px;
  left: 130px;
}

.index-top .technical-tk-ul > ul > li.ui-ux-design.active ul li.photoshop {
  top: 100px;
  right: -103px;
}

.technical-tk-ul > ul > li.ui-ux-design ul li:nth-child(1)::before {
  transform: rotate(0);
  right: 70px;
  top: 35px;
}

.technical-tk-ul > ul > li.ui-ux-design ul li:nth-child(2)::before {
  transform: rotate(-36deg);
  top: 75px;
  right: 56px;
}

.technical-tk-ul > ul > li.ui-ux-design ul li:nth-child(3)::before {
  transform: rotate(36deg);
  bottom: 76px;
  right: 55px;
}

.technical-tk-ul ul li ul li.python {
  top: 110px;
  right: -310px;
}

.technical-tk-ul ul li ul li.django {
  top: -25px;
  left: -595px;
}

.technical-tk-ul ul li ul li.numpy {
  top: 5px;
  right: -110px;
}

.technical-tk-ul ul li ul li.panda {
  top: 115px;
  right: -90px;
}

.technical-tk-ul ul li ul li.powerBi {
  top: 115px;
  right: -210px;
}

.technical-tk-ul ul li ul li.tensorflow {
  top: 210px;
  right: -285px;
}

.technical-tk-ul ul li ul li.tableau {
  top: 225px;
  right: -102px;
}

.index-top .technical-tk-ul > ul > li.data-science.active ul li.python {
  top: 15px;
  right: 160px;
}

.index-top .technical-tk-ul > ul > li.data-science.active ul li.django {
  top: -70px;
  left: -102px;
}

.index-top .technical-tk-ul > ul > li.data-science.active ul li.numpy {
  top: -122px;
  right: 60px;
}

.index-top .technical-tk-ul > ul > li.data-science.active ul li.panda {
  top: -123px;
  right: -30px;
}

.index-top .technical-tk-ul > ul > li.data-science.active ul li.powerBi {
  top: -72px;
  right: -102px;
}

.index-top .technical-tk-ul > ul > li.data-science.active ul li.tensorflow {
  top: 10px;
  right: -130px;
}

.index-top .technical-tk-ul > ul > li.data-science.active ul li.tableau {
  top: 100px;
  right: -103px;
}

.technical-tk-ul > ul > li.data-science ul li:nth-child(1)::before {
  transform: rotate(0);
  left: 70px;
  top: 35px;
}

.technical-tk-ul > ul > li.data-science ul li:nth-child(2)::before {
  transform: rotate(36deg);
  top: 75px;
  left: 56px;
}

.technical-tk-ul > ul > li.data-science ul li:nth-child(3)::before {
  transform: rotate(72deg);
  top: 100px;
  left: 20px;
}

.technical-tk-ul > ul > li.data-science ul li:nth-child(4)::before {
  transform: rotate(108deg);
  top: 100px;
  right: 22px;
}

.technical-tk-ul > ul > li.data-science ul li:nth-child(5)::before {
  transform: rotate(-36deg);
  top: 76px;
  right: 55px;
}

.technical-tk-ul > ul > li.data-science ul li:nth-child(6)::before {
  transform: rotate(0);
  right: 70px;
  top: 35px;
}

.technical-tk-ul > ul > li.data-science ul li:nth-child(7)::before {
  transform: rotate(36deg);
  bottom: 75px;
  right: 56px;
}

.requestAquote-section {
  background: #3bb3c2;
  background: linear-gradient(90deg, #9dd9e0 40%, #fff 40%);
}

.requestAquote-inn {
  overflow: hidden;
  background: #9dd9e0;
}

.requestAquote-left {
  position: relative;
  z-index: 1;
}

.requestAquote-left,
.requestAquote-right {
  padding: 80px 0;
  position: relative;
}

.requestAquote-inn .col-md-6:nth-child(2) {
  background: #9dd9e0;
}

.requestAquote-form {
  position: relative;
  z-index: 1;
  max-width: 80%;
  margin: 0 auto;
}

.requestAquote-right::before {
  content: "";
  height: 200%;
  width: 200%;
  border-radius: 200px;
  position: absolute;
  left: 0;
  top: -50px;
  background: #fff;
  transform: rotate(-12deg);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.requestAquote-left .section-left-head p {
  color: #1f1a17;
}

.services-section {
  padding: 50px 0;
}

.stack-item {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  margin: 0 0 30px;
  border-radius: 10px;
  height: 100%;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.stack-item:hover {
  box-shadow: 0 4px 24px 0 rgba(5, 27, 44, 0.2);
}

.service-icons {
  max-width: 20%;
  flex: 0 0 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border-right: 1px solid #f1f4f6;
  padding: 40px 30px;
}

.service-dtls {
  max-width: 80%;
  flex: 0 0 80%;
  padding: 40px 30px;
}

.service-stack h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  display: block;
  color: $text-color;
  font-size: 35px;
  margin: 0 0 20px;
  position: relative;
  padding: 0 0 10px;
}

.service-stack h2::after {
  content: "";
  border-bottom: 3px solid #3bb3c2;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out 0.5s;
}

.service-icons span {
  display: inline-block;
  max-width: 80px;
  transition: all 0.3s ease-in-out;
}

.stack-item:hover .service-icons span {
  animation: zoomAnimation 0.3s linear;
}

@keyframes zoomAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.service-stack-area {
  background: #f1f4f6;
  padding: 60px 0;
}

.service-stack {
  margin: 0 0 50px;
}

.service-head h3 {
  font-size: 30px;
  margin: 0 0 5px;
  padding: 0 0 5px;
  color: #1f1a17;
  position: relative;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.service-head p {
  margin: 0;
  font-family: "Muli", sans-serif;
  color: grey;
  transition: all 0.3s ease-in-out;
  max-width: 90%;
  font-size: 19px;
  line-height: 35px;
}

.stack-item:hover .service-head h3 {
  color: #3bb3c2;
}

.stack-item:hover .service-head p {
  color: #1f1a17;
}

.stack-toggle-btn {
  position: absolute;
  left: -25px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  transform: scale(0.9);
  justify-content: center;
  border-radius: 50%;
  top: 40px;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(110deg, #3bb3c2, #42d6e9);
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 24px 0 rgba(5, 27, 44, 0.2);
  display: none;
}

.stack-item:hover .stack-toggle-btn {
  transform: scale(1);
}

.service-txt {
  padding: 20px 0;
  display: none;
}

.service-txt p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  color: #1f1a17;
  transition: all 0.3s ease-in-out;
  font-size: 17px;
  line-height: 32px;
  margin: 0 0 10px;
}

.stack-item.stack-open {
  box-shadow: 0 4px 24px 0 rgba(5, 27, 44, 0.2);
}

.stack-item.stack-open .service-txt {
  display: block;
}

.stack-item.stack-open .stack-toggle-btn {
  transform: scale(1);
}

.stack-item.stack-open .service-head h3 {
  color: #3bb3c2;
}

.stack-item.stack-open .service-head p {
  color: #1f1a17;
}

.services-area-img {
  max-width: 80%;
}

.career-section-inn {
  position: relative;
  padding: 50px;
}

.career-pro-left {
  padding-right: 100px;
}

.career-pro-left h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  display: block;
  color: $text-color;
  font-size: 33px;
  margin: 0 0 20px;
  position: relative;
  padding: 0 0 10px;
}

.career-pro-left h2::after {
  content: "";
  border-bottom: 3px solid #3bb3c2;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out 0.5s;
}

.career-pro-left h2.aos-animate::after {
  width: 100px;
}

.career-pro-left li,
.career-pro-left p {
  font-size: 17px;
  color: grey;
  margin: 0;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  line-height: 30px;
}

.career-section-inn::before {
  content: "";
  background: #f1f4f6;
  position: absolute;
  height: 100%;
  top: 0;
  right: 22%;
  width: 100vw;
}

.career-section.career-us-section {
  padding: 50px 0;
}

.openings-title {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 28px;
  display: flex;
  color: #1f1a17;
  margin: 0 0 10px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.openings-title-icn {
  color: #3bb3c2;
  padding-right: 10px;
}

.openings-title-txt {
  font-family: "Muli", sans-serif;
  font-size: 18px;
  display: block;
  color: #1f1a17;
  transition: all 0.3s ease-in-out;
}

.openings-title-txt p {
  margin: 0;
}

.openings-title-txt p b {
  font-weight: 500;
  color: grey;
}

.openings-div {
  height: 100%;
}

.openings-head {
  height: 100%;
  background: #fff;
  position: relative;
  padding: 35px 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 1px solid transparent;
  border-radius: 5px;
}

.openings-div:hover .openings-head {
  background: #fff;
  box-shadow: 0 4px 24px 0 rgba(5, 27, 44, 0.2);
  border: 1px solid #3bb3c2;
}

.openings-section-inn .col-md-4 {
  margin: 0 0 20px;
  padding: 0 10px;
}

.openings-section-inn .row {
  margin: 0;
}

.openings-apply-btn a {
  background: linear-gradient(110deg, #3bb3c2, #42d6e9);
  margin: 0;
  color: #fff;
  font-size: 14px;
  transition: all 0.2s ease-in;
  padding: 12px 25px;
  font-family: "Muli", sans-serif;
  font-weight: 500;
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
}

.openings-apply-btn a:focus,
.openings-apply-btn a:hover {
  background: linear-gradient(110deg, #42d6e9, #3bb3c2);
  color: #fff;
  text-decoration: none;
}

.career-section.career-us-section2 {
  padding: 50px 0;
  background: #f1f4f6;
}

.openings-toggle-btn {
  position: absolute;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.openings-div:hover .openings-toggle-btn {
  opacity: 1;
  visibility: visible;
}

.openings-toggle-btn a {
  background: linear-gradient(110deg, #3bb3c2, #42d6e9);
  padding: 15px 30px;
  font-size: 18px;
  font-family: "Muli", sans-serif;
  font-weight: 500;
  border-radius: 10px;
  color: #fff;
  width: 75%;
  box-shadow: 0 4px 24px 0 rgba(5, 27, 44, 0.2);
  display: inline-block;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.openings-toggle-btn a:hover {
  background: linear-gradient(110deg, #42d6e9, #3bb3c2);
  color: #fff;
  text-decoration: none;
}

.openings-div:hover .openings-title,
.openings-div:hover .openings-title-txt {
  filter: blur(5px);
}

.openings-open .openings-toggle-btn i {
  transform: rotate(90deg);
  left: 0;
}

.openings-toggle-btn i {
  position: relative;
  left: -5px;
  transition: all 0.2s ease-in;
}

.openings-div:hover .openings-toggle-btn i {
  left: 0;
}

.portfolios-section {
  padding: 50px 0;
}

.portfolio-filter ul#load-filter {
  margin: 0 0 50px;
  text-align: center;
}

.portfolio-filter ul#load-filter li {
  text-align: center;
  font-family: "Muli", sans-serif;
  color: grey;
  padding: 0 10px 20px;
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  border-bottom: 2px solid #eee;
  min-width: 200px;
}

.portfolio-filter ul#load-filter li.active {
  border-color: #3bb3c2;
}

.portfolio-filter ul#load-filter li.active::after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #3bb3c2;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  border-radius: 20px;
}

.portfolio-filter-item .portfolio-grid {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-filter-item .portfolio-grid .portfolio-div {
  max-width: 33.3333%;
  flex: 0 0 33.3333%;
  width: 100%;
  padding: 10px;
}

.portfolio-filter-item .portfolio-grid .portfolio-div .single_portfolio {
  transition: all 0.3s ease-in-out;
  position: relative;
  display: inline-block;
  border: 1px dashed #fff;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to bottom, $text-color, #4ac1c9) border-box;
}

.portfolio-filter-item
  .portfolio-grid
  .portfolio-div
  .single_portfolio
  .port-img {
  max-height: 235px;
  overflow: hidden;
  position: relative;
  display: block;
  margin-right: -12px;
  margin-top: 12px;
}

.web .single_portfolio .port-img {
  box-shadow: 0 4px 24px 0 rgba(5, 27, 44, 0.3);
}

body.contact-us.open-p-popup {
  overflow: hidden;
}

.portfolio-cont-popup {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
  background: #fafbff;
  transition: all 0.5s ease-in-out;
  transform: translateY(-100%);
  overflow: auto;
}

.open-popup .portfolio-cont-popup {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.portfolio-cont {
  // background: #fff url(../images/about-curve-banner.png) no-repeat center center/cover;
  padding: 60px;
  margin: 50px 0;
  overflow: auto;
  box-shadow: 0 4px 24px 0 rgba(5, 27, 44, 0.6);
  position: relative;
}

.popup-close-btn {
  position: absolute;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 24px 0 rgba(5, 27, 44, 0.2);
  background: #fff;
  right: 0;
  top: 0;
  cursor: pointer;
}

.portfolio-hd p {
  font-size: 20px;
  margin: 0 0 30px;
  color: #1f1a17;
  position: relative;
  font-family: "Muli", sans-serif;
}

.portfolio-hd p b {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  color: #3bb3c2;
}

.main-img {
  display: inline-block;
  width: 100%;
  min-height: 490px;
  position: relative;
}

span.portfolio-pc-img {
  // background: url(../images/demo-backgroundd.png) no-repeat center center/cover;
  display: inline-block;
  padding: 20px 23px 128px 23px;
  overflow: hidden;
  width: 545px;
  height: 482px;
  position: absolute;
  left: 0;
  top: 10px;
}

span.portfolio-tab-img {
  //background: url(../images/ipad-pro2.png) no-repeat center center/cover;
  display: inline-block;
  padding: 23px 21px;
  overflow: hidden;
  width: 200px;
  height: 255px;
  position: absolute;
  top: 225px;
  left: -20px;
}

span.portfolio-mbl-img {
  //background: url(../images/vredestein-iphone-1.png) no-repeat center center/cover;
  display: inline-block;
  padding: 23px 5px 23px 7px;
  overflow: hidden;
  width: 95px;
  height: 194px;
  margin: 0;
  position: absolute;
  top: 265px;
  left: 435px;
}

.web .main-img {
  width: 85%;
  float: right;
}

span.screens-img {
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.portfolio-dtls p {
  font-size: 16px;
  display: inline-block;
  line-height: 32px;
  margin: 0 0 25px;
  color: #1f1a17;
  text-indent: 40px;
  font-family: "Muli", sans-serif;
  font-weight: 300;
}

span.screens-img img {
  transition: all 5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

span.portfolio-pc-img span.screens-img:hover img {
  transform: translateY(-100%);
  top: 320px;
}

span.portfolio-lap-img span.screens-img:hover img {
  transform: translateY(-100%);
  top: 271px;
}

span.portfolio-tab-img span.screens-img:hover img {
  transform: translateY(-100%);
  top: 210px;
}

span.portfolio-mbl-img span.screens-img:hover img {
  transform: translateY(-100%);
  top: 150px;
}

.apply-section.apply-now-section {
  padding: 50px 0;
}

.apply-heading {
  margin: 0 0 25px;
}

.apply-heading h3 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #1f1a17;
  margin: 0 0 10px;
  position: relative;
}

.apply-heading p,
.openings-wrapper {
  font-family: "Muli", sans-serif;
  font-size: 18px;
  display: block;
  color: #1f1a17;
  margin: 0;
}

.openings-wrapper ul {
  padding-left: 30px;
  line-height: 32px;
}

.openings-wrapper ul li {
  position: relative;
  padding-left: 15px;
  transition: all 0.5s ease-in-out;
}

.openings-wrapper ul li:hover {
  padding-left: 20px;
}

.openings-wrapper ul li::after,
.openings-wrapper ul li::before {
  content: "";
  height: 10px;
  width: 10px;
  display: inline-block;
  border-right: 2px solid #3bb3c2;
  border-bottom: 2px solid #3bb3c2;
  transform: rotate(-45deg);
  position: absolute;
  top: 12px;
  left: -5px;
  transition: all 0.5s ease-in-out;
}

.openings-wrapper ul li::before {
  border-width: 1px;
  opacity: 0;
}

.openings-wrapper ul li:hover::before {
  opacity: 1;
  left: 0;
}

.apply-now-dis {
  padding: 0 0 50px;
  margin: 0 0 50px;
  border-bottom: 2px solid #3bb3c2;
}

.contact-form .form-group.resume .form-label {
  position: static;
}

.apply-now-form h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #1f1a17;
  margin: 0 0 30px;
  position: relative;
  text-align: center;
}

.apply-form .field.form-submit button[type="submit"] {
  margin: 0 auto;
  display: block;
}

.contact-form .form-group.resume .inputfile + label {
  margin: 0;
  width: 100%;
  border-bottom: 1px solid grey;
  padding: 12px 0 0;
  font-size: 20px;
  color: grey;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}

.inputfile + label svg {
  background: linear-gradient(110deg, #3bb3c2, #42d6e9);
  padding: 10px;
  width: 60px;
  height: 50px;
}

.contact-form .form-group.resume .inputfile {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.contact-form .form-group.resume .inputfile + label span {
  padding: 0 10px;
}

.services-area-img.dataScience img {
  width: 100%;
  border-radius: 20px;
}

.portfolio-left-top-cont h2 {
  color: $text-color;
  font-size: 22px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  font-family: "Playfair Display", serif;
  font-weight: 700;
  min-height: 52px;
}

.portfolio-left-top-cont h3 {
  font-size: 13px;
}

.portfolio-left-top-cont h3 span {
  font-size: 15px;
  font-family: "Muli", sans-serif;
}

.portfolio-left-top-cont h3 span {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  color: $text-color;
}

.portfolio-in-div {
  position: relative;
  max-height: 245px;
  overflow: hidden;
  padding: 10px 12px;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 24px 0 rgba(5, 27, 44, 0.1);
}

.portfolio-in-div:hover {
  box-shadow: 0 4px 24px 0 rgba(5, 27, 44, 0.3);
}

.portfolio-left-cont {
  max-width: 50%;
  flex: 0 0 50%;
  position: relative;
  z-index: 1;
}

.portfolio-right-image {
  max-width: 50%;
  flex: 0 0 50%;
  position: relative;
  z-index: 1;
}

.portfolio-in-div::after,
.portfolio-in-div::before {
  content: "";
  background: #4ac1c8;
  width: 410px;
  position: absolute;
  height: 100%;
  border-radius: 30px;
  transform: rotate(-15deg);
  top: -85px;
  left: -5px;
  opacity: 0.4;
}

.portfolio-in-div::after {
  top: -75px;
  left: -15px;
  opacity: 0.2;
}

.portfolio-left-bottom-cont li {
  display: inline-block;
  max-width: 32px;
  cursor: pointer;
  position: relative;
}

.portfolio-left-bottom-cont li:hover span.tooltip-span {
  display: block;
}

.portfolio-left-bottom-cont li span.tooltip-span {
  display: none;
  position: absolute;
  left: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background: #fff;
  color: #000;
  padding: 4px 12px;
  top: -32px;
  border-radius: 20px;
  font-size: 11px;
  transition: all 0.5s ease-in;
  z-index: 1;
  transform: translate(-32%, 0);
}

.portfolio-left-bottom-cont li span.tooltip-span::before {
  content: "";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  top: 105%;
  left: 32%;
  transform: translate(-50%, 0);
}

.portfolio-left-bottom-cont li span.tooltip-span::after {
  content: "";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  top: 100%;
  left: 32%;
  transform: translate(-50%, 0);
}

.portfolio-left-bottom-cont ul {
  padding: 5px 20px 5px 15px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: -15px;
  box-shadow: 0 4px 24px 0 rgba(5, 27, 44, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
  display: inline-block;
  text-align: center;
  border: 1px dashed #fff;
  width: 100%;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to bottom, $text-color, #4ac1c9) border-box;
}

.portfolio-left-bottom-cont {
  margin: 22px 0 0;
}

.portfolio-left-top-cont {
  margin: 10px 0 0;
}

.portfolio-left-view button.port-btn {
  border: 1px solid #4ac1c8;
  background: #fff;
  box-shadow: 0 4px 24px 0 rgba(5, 27, 44, 0.1);
  padding: 5px 20px;
  border-radius: 50px;
  font-size: 14px;
  color: #4ac1c8;
  cursor: pointer;
  outline: 0;
}

.portfolio-left-view {
  margin: 25px 0 0;
  text-align: center;
}

.portfolio-head {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-hd {
  width: 100%;
  order: 1;
}

.portfolio-main-img {
  width: 65%;
  order: 3;
  padding: 0 35px;
}

.portfolio-dtls {
  width: 35%;
  order: 2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.privacy-section-inn {
  margin: 50px 0;
}

.privacy-section-inn p,
.privacy-section-inn li {
  font-size: 16px;
  color: grey;
  margin: 0;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  line-height: 30px;
}

.privacy-section-inn h3 {
  font-size: 22px;
  color: #1f1a17;
  margin: 25px 0 5px;
  position: relative;
  font-family: "Muli", sans-serif;
}

.privacy-section-inn p a {
  color: #3bb3c2;
  font-weight: 600;
}

.openings-section-inn {
  position: relative;
}

.contact-us-map {
  min-height: 451px;
}

.portfolio-filter-item .portfolio-grid .portfolio-div.portfolio-show {
  animation: bounce-zoom 0.45s;
}

.cursor {
  cursor: pointer;
}

@-webkit-keyframes bounce-zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes bounce-zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
